[2017-04-29 04:12] GuangchuangYu opened #5 "kableExtra with latex package in yaml"
Here is a minimal example:

[code]

If not loading the latex package `tocloft` manually using `usepackage_latex('tocloft')`, knitting the file will throw the following error, even I do load `tocloft` in `yaml` via `header-includes`.

[code]

`header-includes` in `yaml` works fine if not using `kableExtra`.

[2017-05-01 13:29] haozhu233 commented on #5
This bug is being fixed in https://github.com/rstudio/rmarkdown/issues/1026

After the fix being merged, this problem will go away with the latest dev version of rmarkdown.

[2017-05-01 13:29] #5 closed

[2017-05-24 22:36] haozhu233 opened #7 "New Features in kableExtra 0.2.0 & 0.2.1"
There are a few interesting new features introduced in `kableExtra` 0.2.0 & 0.2.1. Version 0.2.0 is on CRAN now but 0.2.1 is still under review (they might reject this submission because it was submitted a day after 0.2.0. Ops :P).

- `group_rows()`
This is the row version of `add_header_above()` even though the syntax is a little different. Basically, you can group several rows of the table under

[2017-05-26 00:16] mbcann01 opened #8 "Knit to Word"
Hello!
So far I love kableExtra for HTML tables. For me, it would be really useful to have features like add_indent available for knitting to Word documents as well. Do you plan to add support for knitting to Word documents in the future? Thanks!

[2017-05-26 06:08] haozhu233 commented on #8
Hi, @mbcann01, I'm glad you like this package. Very unfortunately, there is no way to pass "raw" table codes into Word. You can pass a word template file to pandoc through rmd but that's all you can do (you can check out this post http://rmarkdown.rstudio.com/articles_docx.html). However, if what you want to do is to `add_indent` to specific rows, I have a feeling that it is too much for that temp

[2017-05-26 13:06] mbcann01 commented on #8
@haozhu233 Bummer! Thanks for the response!

[2017-05-26 16:19] #8 closed

[2017-06-02 16:01] #7 closed

[2017-06-06 08:30] Jaeoc opened #9 "Group_rows not working properly for longer latex table"
Hello!

I'm really liking your package, but have run into an issue when trying to group by rows in a slightly longer latex table. When using the group_rows on a row starting on row 17 or beyond, this has no effect on the table when knitting to pdf, i.e. the table is produced as if that line of code didn't exist. It works perfectly fine when knitting to HTML.

The code I'm using looks like this, an

[2017-06-06 16:02] haozhu233 commented on #9
Hi, @Jaeoc, thanks for reporting this bug. In fact, I just fixed a very similar bug last night which causes similar behavior when you have symbols like % present. Can you try to re-install from github and let me know if this bug has gone away?

[2017-06-06 18:51] shabbybanks opened #10 "add_header_rows skips when colspan=1"
Perhaps I do not understand the point of `add_header_rows`, but I would like to do the following:
[code]
However, what I get out is:
<table>
 <thead>
  <tr><th style="text-align:center;" colspan="2">x</th><th style="border-bottom:hidden"/></tr><tr>
   <th style="text-align:right;"> x1 </th>
   <th style="text-align:right;"> x2 </th>
   <th style="text-align:right;"> y1 </th>
  </tr>
 </thead>
<tbo

[2017-06-06 18:59] haozhu233 commented on #10
Hi, @shabbybanks, I found this bug almost right after `kableExtra` 0.2.1 was released on CRAN and it has been fixed in the current github version. (see https://github.com/haozhu233/kableExtra/blob/master/R/add_header_above.R#L77)

You can try to install from github for now (`devtools::install_github("haozhu233/kableExtra")`) and the CRAN ver will be updated in 2 weeks.

[2017-06-06 21:57] Jaeoc commented on #9
Hi,

it seems like I was mistaken with what the cause of the problem was. I fiddled around with the mtcars dataset to try to reproduce the issue, and it seems to have to do with the structure of the dataframe used for the table. In my original table I had some variables where I'd used paste0 to create columns with two values, one being in parentheses, like so: "3452 (3.2)". It appears that for tho

[2017-06-06 22:41] haozhu233 commented on #9
I see. I just reproduced the error. I know where the problem is but the fix is a little tricky. I'll see what I can do.

[2017-06-07 16:06] #10 closed

[2017-06-07 16:47] haozhu233 commented on #9
Hi, @Jaeoc, I just fixed the bug. Do you want to try out the latest github version and let me know the results?

[2017-06-07 22:15] hemip opened #11 "kableExtra incompatible with \usepackage{fancyhdr}?"
Hi,
I was really thrilled when I found kableExtra and managed to produce some fancy tables. However, when I copied the code into my markdown report I lost some other features in the document instead.

I had previously managed to configure headers and footers with the 'fancyhdr' package (see the added lines below). But as soon as I includes 'library(kableExtra)' the headers and footers disappear. A

[2017-06-07 22:22] hemip opened #12 "% bug, continued"
Hi again,

I was hit by the % bug. I downloaded the dev-version yesterday, and it worked in one of my tables. A table using booktabs and an added extra header row.

However, in the second table where I also grouped rows, it was only possible to use '%' in one column! As soon I added percent values in more than one column the grouping disappeared.

/hans

[2017-06-07 22:51] p-phillips opened #13 "Can kableExtra solve the repeating header issues for long tables ?"
Hi

Would it be possible for kableExtra to have a flag/option which forced the header row to repeat on each new page for long tables ?

Pete

[2017-06-07 22:51] haozhu233 commented on #12
Yeah, I think this problem should have been addressed in the current version. I fixed it together with #9 and made the update earlier today. Can you try to install it again?

[2017-06-07 22:53] haozhu233 commented on #11
You should upgrade your rmarkdown to the dev version. There was a bug there that prevents loading latex packages from 2 sources. See #5 for details.

[2017-06-07 22:54] haozhu233 commented on #11
In case my answer cannot solve the problem. ;)

[2017-06-07 23:25] haozhu233 commented on #13
Great idea! I just added a new option `repeat_header` in `latex_options` under `kable_styling`.

Here is a quick example
[code]

[2017-06-08 08:04] p-phillips commented on #13
Excellent. Thanks for that.
That brings up another enhancement question which I shall open an issue for

[2017-06-08 08:04] #13 closed

[2017-06-08 08:06] p-phillips opened #14 "could you have an option for multipage tables which adds the string "(cont)" (or similar) to the caption ?"
If you have a multipage table the caption doesn't differentiate between whether it is the start of the table or a continuation.

could you have an option which adds this requirement ?

thanks again
Pete

[2017-06-08 08:08] p-phillips commented on #11
Just to confirm,

`devtools::install_github("rstudio/rmarkdown")
`
solves the problem.

Could you add this to the known limitations in teh README ?  I spent hours trying to track this problem down last night.

[2017-06-08 10:46] hemip commented on #11
Dear Haozhu,

Thanks for quick response and amazing work. After upgrading rmarkdown and also kableExtra to latest dev-versions both my problems are gone.

Best wishes,
Hans

[2017-06-08 12:07] kn1g opened #15 "[Feat. req] Grouping rows the same way like headers"
Hi,

you did awesome work! But why did you implement two different ways to group rows and cols?
I need to group the rows not just once. Like "add_header_above" I need to group the goups again.

Wouldn't it be more consistent to implement a function like "add_rowgroup_left"?

Maybe I did just miss how to do it? Is there a way to group the rows in multiple layers?

Best,
kn1g

[2017-06-08 14:49] #12 closed

[2017-06-08 14:51] hemip commented on #12
Thanks for the good work. The new version works as expected...

[2017-06-08 15:00] haozhu233 commented on #11
@p-phillips Ops, sorry about that 😋. I just added a sentence and highlighted it in the limitation section

@hemip I'm glad it helps. :)

[2017-06-08 15:00] #11 closed

[2017-06-08 15:32] Jaeoc commented on #9
Hi, just tried it out, and now it works nicely. Appreciate the quick fix :)

[2017-06-08 16:46] haozhu233 commented on #15
Hi, @kn1g, thank you for your suggestion! The syntax for `add_header_above` is good for adding an entire row/column but `group_rows` is actually trying to use a labeling *row* & some indentations to build the "grouping" look. In this case, using an empty string to indicate some rows don't need grouping doesn't make too much sense. Also, for me, rows are more "dynamic" than columns when I generate

[2017-06-08 18:59] haozhu233 commented on #14
Thanks for the suggestion again. I changed the default behavior of `repeat_header` by replacing the caption with a "... continued" text. You can also define your customized message by using `repeat_header_text` option. I just pushed the changes to github. You can check it out. 🚀

[code]

[2017-06-08 20:02] p-phillips commented on #14
Hi Hao

Would it be possible just to add the string "(continued)" (in italics) after the caption ?

So I have a caption on a long table:

  Table 2: Raw data for individual experiments

I'd like it to say (on the second and subsequent pages):

  Table 2: Raw data for individual experiments (_continued_)

Also, is there some default grouping going on with ktableExtra ?  It appears to be logically g

[2017-06-08 21:13] haozhu233 commented on #14
Since not every table has a caption, I was too lazy to write another if statement, but you caught me. lol

Now, I put the caption back in https://github.com/haozhu233/kableExtra/commit/fdec184eb14d0e3be0c0574cc78241df218d6c52. You can try it out. :)

The last point you mentioned is actually a default feature of `knitr::kable` to enhance the looks of long tables. That feature was introduced in 2013

[2017-06-08 22:31] p-phillips commented on #14
Beautiful.  That is perfect.  I just ran it on a data set I'm taking to Berlin on Sunday for a meeting, and it works perfectly.

Thanks for this.

I spend a lot of time using table packages (kable, pandoc, tables, xtables etc). Your kableExtra package is terrific - makes a lot of the things we have had to mess around with latex for very easy.

I hope you continue to add features to this.

Pete

[2017-06-08 22:38] p-phillips commented on #14
OK - just a slight flaw ...  the gray bars overwrite the title and caption.
![screenshot from 2017-06-08 23-35-49](https://user-images.githubusercontent.com/1607374/26953623-6fe69d74-4ca3-11e7-802f-7ac9290395d6.png)

![screenshot from 2017-06-08 23-36-38](https://user-images.githubusercontent.com/1607374/26953632-8197f1f8-4ca3-11e7-81a2-1cc73796baca.png)

[2017-06-09 01:34] haozhu233 commented on #14
Haha, thanks for your kind words, @p-phillips ! :)

Thanks to the last point you raised here, I made a small improvement on the striped rows feature for longtable. Somehow longtable is not as smart as tabular. If you have a caption, you should reverse the order of color code to make it work... Another dirty latex pithole.. 😂

[2017-06-11 19:28] #14 closed

[2017-06-12 19:45] sjpierce opened #16 "loading kableExtra breaks inline R code in YAML header"
I've been using a YAML header in my R markdown document (*.Rmd) that inserts headers and footers. My left footer uses inline R code to display the path and filename of the PDF file that will result when the file is knitted in R studio. I discovered today that loading the kableExtra package breaks that inline code and causes the code itself to display rather than the result of the code. Commenting

[2017-06-12 20:11] haozhu233 commented on #16
Hi, @sjpierce, thanks for  reporting. There is a bug in current CRAN version of rmarkdown that prevents users from loading latex packages from 2 sources. You need to update your rmarkdown to the latest dev version by `devtools::install_github("rstudio/rmarkdown")`.

You can see #5 & #13 for details.

I put a note in the limitation section but I guess it's not that obvious. I'm going to highlight i

[2017-06-12 20:28] sjpierce commented on #16
I think this may be distinct from those prior issues. I've already installed the dev version of rmarkdown: that's what allows me to even get a footer to show up at all when kableExtra is loaded. The issue is that it is not being displayed correctly. Run the example code above with and without the library(kableExtra) line commented out and compare the contents of the left footer.

By the way, kable

[2017-06-12 20:33] haozhu233 commented on #16
I see. I reproduced the bug. It seems that the previous fix in rmarkdown hasn't entirely solved the problem. I'll look into that. Thanks for letting me know

[2017-06-13 16:56] haozhu233 commented on #16
I don't think the "problem" in rmarkdown can be easily fixed. In short, if you use `kableextra` (or packages using similar mechanisms (maybe huxtable), contents defined in `header-includes` will be read in through `includes`(http://rmarkdown.rstudio.com/pdf_document_format.html#includes), which is the more official way to reading tex heading into rmarkdown. The downside of that is that it does not

[2017-06-14 14:05] PatWilson opened #17 "add_header_above appearing below colnames"
Hello I am trying to recreate an example in the vignette and I am having some trouble.  The columns  names are appearing above the add_head_above characters instead of below.  Here is the code I am running and my session info.   I am also running it in rstudio and using the knit button
[code]

[code]
Thanks for any help you can provide!

[2017-06-14 15:46] haozhu233 commented on #17
hmm, I tried it on a rstudio connect server, which is the only centos machine I have access to, but I can't reproduce the error... Have you tried to restart your R session? The HTML part is using xml2 which shouldn't mishandle the order in theory....

[2017-06-14 23:00] PatWilson commented on #17
So I tried changing my version to 3.3.1 and changing from the dev version to the CRAN version.  It fixed the problem however not sure what did it. Hope the sessionInfo can be of some help
[code]

[2017-06-14 23:05] haozhu233 commented on #17
Hmm, maybe I should increase the required R version? Why does it behave differently? That's a bit scary....

Thank you for reporting and testing! Let me know if you have any other suggestions. :)

[2017-06-14 23:06] #17 closed

[2017-06-15 21:19] #16 closed

[2017-06-15 21:21] haozhu233 commented on #15
I added a new function `add_header_left` to the dev version to achieve this feature. If any of you have any suggestions, please feel free to let me know.

<img width="465" alt="screen shot 2017-06-15 at 5 18 47 pm" src="https://user-images.githubusercontent.com/7014590/27202304-04b1c3ac-51ef-11e7-9457-f0eff35711a0.png">

[2017-06-16 19:57] rabutler opened #18 "add_header_left for other formats"
Hi, it looks like `add_header_left()` is implemented for html and latex in your dev version. Do you plan on extending it to other formats?

Thanks!

[2017-06-16 20:04] haozhu233 commented on #18
Hi, @rabutler , `kableExtra` in general only supports html/latex tables as only these two formats accept advanced customizations like multirow. If you have a constant need of generating word tables for your collaborators, I would use `pander` instead. 😸

[2017-06-16 20:06] rabutler commented on #18
Thanks @haozhu233! Some of my formatting got messed up when I specified the format as html, but my eventual output is html, so I'll play around with it some more. Thanks again.

[2017-06-16 20:06] #18 closed

[2017-06-16 20:15] haozhu233 commented on #18
@rabutler Great! Feel free to open up another issue for the "messed up" part.

[2017-06-20 18:25] tkaraouzene commented on #15
Hello !
Thank you for your wonderful package
I just have a question, Is it possible to use an existing column as a left_header (with similar values grouped)

Thanks again,
Regards

[2017-06-20 18:29] haozhu233 commented on #15
Hi, @tkaraouzene, I'm still working on this part. You may expect to see some changes on this function recently.

I did a little experiment with a function called `collapse_rows()`. I have written the HTML side but the LaTeX part seems too complicated. Is that what you are looking for?

[2017-06-20 18:52] tkaraouzene commented on #15
Hi,

It probably does what I want, however, it doesn't seem to work with me (even in HTML).
Whatever I would use it in LaTeX, so I will just wait...

Thanks again

[2017-06-27 01:43] haozhu233 commented on #15
Hi, @tkaraouzene, I implemented the `collapse_row` in both HTML and LaTeX now and you can find the documentation in the last section of the doc site (http://haozhu233.github.io/kableExtra/awesome_table_in_pdf.pdf). You can try it out and let me know what you think.

Also, with this feature being added, I'm wondering if it's still necessary to keep `add_header_left` cuz they are doing basically the

[2017-06-27 07:48] tkaraouzene commented on #15
Hi, @haozhu233, thanks for your feedback.

I just tried the `collapse_rows` function and it seems to perfectly work within my Rmd files. Nice !
However, I am currently writing my Ph.D. and to do that I am using both [bookdown](https://github.com/rstudio/bookdown) and [thesisdown](https://github.com/ismayc/thesisdown) packages and it seems to generate some errors (I am trying to identify) when I am

[2017-06-27 08:05] tkaraouzene commented on #15
@haozhu233 , About `add_header_left_function` I agree with you that `collapse_rows` does basically the same thing.
So to my mind, there is no matter to continue to maintain it, but it is up to you, of course ^^

[2017-06-27 11:57] danmsf commented on #15
Thanks for your package and great job!
I don't know if it's a local problem of mine, but I'm running the dev version and I noticed that `collapse_rows` returns an error `Error: search must be of length 1` when  I only specify 1 column to collapse, but seems to work fine for more than one column.

[2017-06-27 19:10] haozhu233 commented on #15
@danmsf Thanks for reporting! I just fixed the bug in the latest dev version.

[2017-06-27 19:23] danmsf commented on #15
Great!! Thanks.
 By the way , is there a way to change the names of the tables original
coloumn names? If not a simple wrapper around 'names' would do the trick...
Thanks again

On Jun 27, 2017 10:10 PM, "Hao Zhu" <notifications@github.com> wrote:

[2017-06-27 20:01] haozhu233 commented on #15
@danmsf if I understand you correctly, you can do it through the col.names option in base kable.

[2017-06-27 20:42] danmsf commented on #15
Great thanks!

On Jun 27, 2017 11:01 PM, "Hao Zhu" <notifications@github.com> wrote:

[2017-06-27 23:36] syurchak opened #19 "row_spec?"
I don't see row_spec as part of KableExtra package...

[2017-06-28 03:02] haozhu233 commented on #19
This feature is still github only. The CRAN ver will be updated recently after I update all the documentation

[2017-06-28 09:07] #19 closed

[2017-06-28 15:24] wibeasley opened #21 "Copy README material to package documentation"
You have a nice narrative in the repo's readme file.  Consider copying some of that to the documentation.  Specifically the [page dedicated to the entire package](https://github.com/haozhu233/kableExtra/blob/master/R/kableExtra-package.R).  I was about to start that, but I didn't want it to look like I wrote the material.

If you don't want to maintain duplicated material, maybe include a link (fr

[2017-06-28 16:21] haozhu233 commented on #21
That is a great point! I'll do it once I got some time later today. Thanks for your suggestion! 👍👍👍

[2017-07-03 23:41] haozhu233 commented on #21
I just transferred some README docs to the package level documentation. Thanks again for your suggestion! :)

[2017-07-03 23:41] #21 closed

[2017-07-03 23:57] haozhu233 commented on #15
For LaTeX `collapse_rows`, I added some extra cline/cmidrule to distinguish rows. Booktab tables with `collapse_rows` now does look different because of the added lines but it helps a lot on reading the table (personally opinion).

[2017-07-03 23:57] #15 closed

[2017-07-14 13:37] therimalaya opened #22 "Verbatim text (monospaced font) option for column_spec"
Since the column_spec has both bold and italics, it would be great if you can add `verbatim text` or monospace font.

[2017-07-15 16:10] haozhu233 commented on #22
@therimalaya great suggestion! I added this feature to `column_spec` last night. :)

[2017-07-19 12:52] petermacp opened #23 "column_spec width fails"
Thanks for this awesome package.

Am generating latex tables with knitr::kable and kableExtra as part of a Bookdown project.

I have a two column table, with long text in the second column:

[code]

When I try to specify the width of the second column, it fails.

[code]

with the following message:

[code]

Very grateful for any suggestions for resolving.

[2017-07-19 16:09] haozhu233 commented on #23
Hi, @petermacp, I tried to reproduce this bug in `output: bookdown::pdf_document2:` with both CRAN and github version but the document was rendered successfully. Could you try to update your bookdown and see if it helps?

From the bug itself, it seems like the latex `array` package was not loaded by default. it makes me wondering if your bookdown version is up to date.

Another possible source of

[2017-07-19 23:52] norcalbiostat opened #24 "kable_styling not respecting html tags in cells"
After applying kable_styling html tags inside cells are not being respected.

E.g. this is one of my cell entries

`&bull; Review ANOVA vocabulary <br>  &bull; Read up on the [final project instructions](../Projects/ProjectPage.html).`

Neither the bullet points, nor the line break tags are rending. The link however works just fine.

[2017-07-20 00:35] norcalbiostat commented on #24
Never mind - it's a bootstrap theme problem. Problem exists w/o kable_styling.

[2017-07-20 01:54] haozhu233 commented on #24
Hi, @norcalbiostat, just in case you haven't figure it out, to display raw HTML in your cell, use the `escape` option in `kable`.

`kable(dt, "html", escape = F) %>% kable_styling()`

[2017-07-20 09:15] fkroener opened #25 "Repeat header in longtable repeats the \label from ktable()"
When using repeat_header I get latex warnings about the table's label being multiply defined.

This appears to stem from knitr::kable adding the environments' label inside its `table_info$caption`, which kableExtra copies when repeating the header.

I wonder whether there is any workaround?

Solution could probably be instead of adding "cont." or individual repeat_header_text to the end of the cap

[2017-07-20 18:51] haozhu233 commented on #25
I did a little exploration and it seems like I should remove the `\label{tab:...}` in the second page caption?

[2017-07-20 18:56] fkroener commented on #25
Yes, that could work as well.

Though I suppose having the option of setting the entire second caption again instead of just its tail would be nice too, adding flexibility for the user who might choose to say "Continuation of previous table".

[2017-07-20 19:19] haozhu233 commented on #25
Sure, I can add an option like `repeat_header_method` (or something else if you have a better idea) and you can set it to be either `replace` or `append` (default). What do you think?

[2017-07-20 19:30] fkroener commented on #25
Sounds great.

Oh and while we're at it, maybe I may ask another question. Is there any example or way for the `group_rows` stuff to be automated?

I have a df with a column of groups and some data columns and I could create some for-loop to get the group-names and start_row / end_row for each of them - but I can't figure out how to press that into `%>%` syntax without manually specifying each `gr

[2017-07-20 20:01] haozhu233 commented on #25
You can try out `collapse_rows` if you haven't. If you prefer the look of `group_rows` as I do, I can add a wrapper of `group_rows` in necessary.

[2017-07-20 21:30] norcalbiostat commented on #24
Unfortunately that doesn't work either.

And i'm not sure it's a theme problem. I just tried using blank theme/new RMD document and the <br> isn't being rendered by itself, and adding `escape=F` throws an error about opening and ending tab mismatch between br and td.

I've attached the RMD file and the Excel file that contains the table that i'm importing and kable()'ing

[test tag error.zip](http

[2017-07-20 21:48] haozhu233 commented on #24
Hmm, `escape` should work in most cases... Are you trying to make some bullet point listing? How about using the following format.

[code]
It is more formal than creating bullet points by yourself. You still need to set `escape` to `FALSE` in this case.

Or an alternative approach is to put each point in a single row and use `collapse_rows` function.

[2017-07-20 21:56] norcalbiostat commented on #24
Yep, bulleted list. Ok, the formal list structure works, but my word the spacing between the bullets and words is HUGE. Next thing for me to google how to do.

I've thought about and played around with the collapse_rows function, but it makes the cell shading look weird, and without being able to get the cell row borders to show it's more difficult to tell between days.  i'm also having issues wit

[2017-07-20 22:01] haozhu233 commented on #24
lol I'm also having troubles with cell shading when I'm using `collapse_rows` Hahaha. I don't have a solution for it either at this moment.

To solve the spacing problem, you need to left-align your contents in that column. I updated my comments above with a file. You can take a look there.

[2017-07-20 22:12] norcalbiostat opened #26 "Add ability to customize header row (font size/centering)"
This would be a great addition!

[2017-07-21 10:01] natgoodman opened #27 "R version for kableExtra 0.3.0"
Greetings. Does kableExtra 0.3.0 really need R >= 3.2.3 or is this an oopsie?

Thanks,
Nat Goodman

[2017-07-21 16:13] haozhu233 commented on #27
Ops lol

Well, in fact, I increased the version requirement of R since there was a unknown bug reported by a user in #17. Now I feel like that decision is a little rational and inappropriate. I just checked the R version requirement for all my dependencies and found that knitr has the highest R version dependency (>= 3.1.0). I will make some changes accordingly.

Thanks for reporting!

[2017-07-21 16:49] haozhu233 commented on #26
Thanks! This is another worth-thinking problem. It's a little tricky because HTML and LaTeX handles these things differently. It will get a little more complicated when multi-row header kicks in. Let me think about it and see what I can do.

[2017-07-21 17:47] natgoodman commented on #27
Thanks!

All the best,
Nat

[2017-07-21 17:49] #27 closed

[2017-07-21 19:03] vrybkin commented on #24
Hi,

Thank you for developing this package. I am really excited to begin using kableExtra as it has many features that I've been looking for. However, I'm getting the same error on a really simple example below. It seems that the <br> tag is never closed, but kable() renders this without a problem. Is there any solution to this problem?

[code]

Error message:
[code]

Thank you for your time!

[2017-07-21 19:12] haozhu233 commented on #24
I'm reopening this issue as xml2 does seem to fail really bad on this part.

[2017-07-21 19:38] haozhu233 commented on #24
@vrybkin Okay, I've figured it out. It is completely a XML issue.

To solve these kind of problem, you can follow the following guidance.
1. For any self-closing HTML tags like `<br>`, use their closed version `<br />` or `<br/>`. As said in [W3School](https://www.w3schools.com/tags/tag_br.asp):

2. For special symbols like `&plusmn;`, don't use its HTML entity. Instead, you should use its ASCII c

[2017-07-21 19:53] vrybkin commented on #24
@haozhu233 Thanks for your prompt reply! It makes sense. I've got a bunch of legacy code with unclosed HTML tags. Do you think it's likely that you would ever support unclosed tags, such as the way datatable and kable do?

[2017-07-24 19:17] haozhu233 commented on #24
@vrybkin Okay, I just made some changes to the entire package so all the functions can digest HTML entities like `&plusmn;` and unclosed tags like `<br>`.

[2017-07-24 19:20] #23 closed

[2017-07-24 20:54] vrybkin commented on #24
@haozhu233 Thank you so much, highlight to my day :) This works really well and my tables now look much much better than they did before. One little thing that I'm still seeing in that example is that "&plusmn;" gets converted to "Â±".

[2017-07-24 21:40] haozhu233 commented on #24
This bug was created by a bug in `base::readLines()`(😲😲😲) under Windows. It won't happen if the machine is a Mac. I switched that function to `readr::read_file` and fixed it in the latest dev version. Thanks for pointing it out! This kind of system difference is hard to notice.

[2017-07-24 22:56] vrybkin commented on #24
@haozhu233 Thank you! I also noticed that `"&emsp;"` does not map to an indent. For example, I used: `"Gender<br> &emsp;Female<br> &emsp;Male"` as a rowname to a table and it is no longer indented. Is this another issue with `reader::read_file`?

Thanks again!

[2017-07-25 03:28] haozhu233 commented on #24
@vrybkin I can't reproduce the bug you mentioned. Did you set `align = "l"` for that column?

[2017-07-25 13:14] vrybkin commented on #24
@haozhu233 Sorry, here's an example, I hope this makes my issue clear. I have a data.frame with the `rownames()` being: `c("Age", "Gender<br> &emsp;Female<br> &emsp;Male", "Disease Duration"                     , "Lab 1 (mmol/L)")`. Note that in this case, the "Gender" row in the table is actually composed of three separate lines.

Using just `kable()`, these rownames render with the `&emsp;` char

[2017-07-25 16:55] haozhu233 commented on #24
Hmm, I tested it on Windows/Mac and they both work... Therefore, I'm going to treat it as solved and close this issue. @vrybkin Let discuss via email for this individual case.

[2017-07-25 16:55] #24 closed

[2017-07-25 17:16] haozhu233 commented on #25
@fkroener I added `repeat_header_method` with default value being `replace`. Also, I fixed the table double labeling issue.

[2017-07-25 17:16] #25 closed

[2017-07-25 17:52] fkroener opened #29 "\caption{} instead of \caption[]{} has the caption repeated in list of tables for each page"
With the fix for the multiply definition of \label in #25 I see we have another issue, which was actually the reason I opened #25.

With `\listoftables` in latex we have repeated entries for each page the table appears on, e.g.

this list of tables . . . . . . . . . . . . . . . . . . . . . . .  192
this list of tables (cont)  . . . . . . . . . . . . . . . . . . .  202
this list of tables (cont)  .

[2017-07-25 18:07] #29 closed

[2017-07-25 18:09] haozhu233 commented on #29
Fixed now. Please download the latest dev version. :)

[2017-07-26 16:41] haozhu233 commented on #22
I added monospace to `row_spec` as well.

[2017-07-26 16:41] #22 closed

[2017-07-31 05:51] stla opened #30 "LaTeX math expression in group of columns header"
Hello,

 The `kable` function has an option `escape` which allows to have LaTeX math expressions in the table - see <https://stackoverflow.com/questions/45391566/latex-math-expression-in-knitr-kable-sweave>

Is it possible to have a LaTeX math expression in the header of some grouped columns ? I'm afraid no, currently.

[code]

![capture](https://user-images.githubusercontent.com/4466543/28764317-

[2017-07-31 09:50] stla opened #31 "Bug of striped table when there are two sets of grouped columns"
Hello,
The `Rnw` file below produces an unexpected result.

[code]

There are two problems. Firstly, the second line of the header on the first page is colored:

![capture1](https://user-images.githubusercontent.com/4466543/28772242-ded2e970-75e5-11e7-812b-e830084c7e85.PNG)

Secondly, on the second page the caption and the first line of the header are colored:

![capture2](https://user-images.gith

[2017-07-31 10:09] stla commented on #31
In case if this is a LaTeX issue, I've opened the issue on tex.stackexchange: <https://tex.stackexchange.com/questions/384100/bug-with-striped-long-table-when-there-are-two-groups-of-columns>.

[2017-07-31 11:09] stla commented on #31
The LaTeX solution posted by Ulrike Fisher works, using `hiderowcolors`:

[code]

[2017-07-31 11:39] stla commented on #31
This works like this:
[code]

So I believe you can fix the function `styling_latex_striped` like this:
[code]

[2017-07-31 11:39] haozhu233 commented on #31
Awesome! Thank you so much for doing this! I will make a fix later today.

[2017-07-31 11:40] stla commented on #31
Great. Thanks. And big thanks for this nice package!

[2017-07-31 11:41] haozhu233 commented on #30
You are correct. Currently kableExtra will escape everything. It makes sense to add an escape option. I will work on that later.

[2017-08-01 16:44] haozhu233 commented on #31
I put in some extra codes to control the behavior in all conditions. Thank you @stla for making it happening!

[2017-08-01 16:44] #31 closed

[2017-08-02 02:08] haozhu233 commented on #26
I'm planning for a CRAN release recently. This feature will be implemented after that release. My current thought is to make a special case in `row_spec`. When users set `row = 0`, it means that they want to customize the original header row.

[2017-08-02 04:18] #30 closed

[2017-08-02 10:32] meenaparam opened #32 "Missing footnotes when aligning tables in dev version"
I'm raising this issue in relation to this question on SO that you answered for me:

https://stackoverflow.com/questions/45378664/kableextra-rmarkdown-tables-aligning-grouping-row-labels-and-footnotes

I put an update of the problem in a comment but figured it would be easier for you to look at here. Basically now alignment of grouping rows works in the dev version, but the footnote text has disap

[2017-08-02 11:39] stla opened #33 "bug when longtable starts at the top of a page"
Hello,

 This is the `Rnw` file:

[code]

And the output:

![capture](https://user-images.githubusercontent.com/4466543/28872086-db5244e6-7787-11e7-871c-8e1297756575.PNG)

Do you have an idea ? Otherwise I can open an issue on texstackexchange. I will firstly search if this issue is a known one.

[2017-08-02 11:53] stla commented on #33
I don't manage to get this bug when I add a line break before the table:

[code]

Maybe it's a good practice to include this line break...

[2017-08-02 12:00] stla commented on #33
Issue opened here: https://tex.stackexchange.com/questions/384422/issue-with-longtable-starting-at-the-top-second-caption-appears-first

[2017-08-02 13:30] stla commented on #33
Again, the solution given by Ulrike Fischer works:

[code]

But the choice of the space depends on the height of the header. For example I've used `\Needspace{24\baselineskip}` for my real issue with a large header.

I don't know whether this code should be automatically inserted by `kableExtra`... One can manually insert it as above. But it's nice to know this solution.

[2017-08-03 08:58] stla commented on #33
Ulrike Fisher has posted a better solution with the `xpatch` package. As I understand, this is a bug of the `longtable´ package which will be fixed in a next release. Therefore I close this issue.

[2017-08-03 08:58] #33 closed

[2017-08-03 09:15] stla opened #34 "\bottomrule at the end of longtable can cause an issue with option repeat_header"
Hello,

 LaTeX issue described here: <https://tex.stackexchange.com/questions/384576/longtable-starts-a-second-page-to-print-only-the-bottomrule-line>

`kableExtra` (or `kable`?) generates this code:
[code]

The issue is fixed by removing `\bottomrule` and replacing `\endhead`  with
[code]

[2017-08-03 12:41] haozhu233 commented on #33
Great! Sorry, I was on my way of traveling recently. Based on what I read from the answer and your conclusion, I also feel like we should keep `kableExtra` as is right now. It's nice that you post it here so people with similar problem may find a solution easier.

[2017-08-03 12:54] haozhu233 commented on #32
@meenaparam Thanks for reporting this bug! I recently made some changes to the HTML outputting method in most functions in kableExtra to solve problems like Stackoverflow: https://stackoverflow.com/questions/45262308/knit2wp-adds-text-with-kableextra. These fixes removed some linespaces, which caused bugs for `add_footnote`, which is the only HTML function that is using regular expression instead

[2017-08-03 12:56] haozhu233 commented on #34
I would have never expected there were so many hidden tricks in longtable. 😂

[2017-08-03 13:08] #32 closed

[2017-08-03 13:09] haozhu233 commented on #32
@meenaparam This bug has been fixed now in the dev version. Please re-install from github. Thanks for reporting!

[2017-08-03 13:26] haozhu233 commented on #34
Hi, @stla, I think I fixed this problem in the latest version. Could you test it out?

(Somehow I can't reproduce the behavior you reported so I couldn't test if my fix works. It might also be a rnw or windows thing?)

[2017-08-03 14:47] stla commented on #34
Hi @haozhu233
No, sorry, the issue is still there. `\endlastfoot` does not work as expected.

[2017-08-03 14:58] haozhu233 commented on #34
@stla Hmm, previously I thought it's a sweave or system issue. However, I just tried the tex code you posted in your question on SO on both my Mac and Windows (remotely). It surprised me I couldn't reproduce the behavior you described in either case, even after I made some adjustments on the content length. Is it possible that it's due to your LaTeX setup? Like the longtable version?

[2017-08-03 15:17] stla commented on #34
Strange, I don't know. I'm on Windows and I have updated all the packages a few days ago.

The following other solution seems to work (given in a comment by Ulrike Fischer): replace the last `\\` with `\\*\bottomrule`.

[2017-08-04 07:01] meenaparam commented on #32
Wonderful, thank you! Also for explaining the problem. I'll give it another go from GitHub. Thanks again!

[2017-08-04 10:22] Courvoisier13 opened #35 "Ability to create borders for columns (similar to align in xtable)"
In xtable we can use align to add column borders with a | pipe:

`xtable(latex_xtable_outliers, align = "rrll|llr|r")`

Regardless of the alignment, (https://github.com/haozhu233/kableExtra/issues/26), I think the border is very important and currently missing from kable and pander.

I know kableExtra does something similar with the  `add_header_above`, but that forces us to write a column group n

[2017-08-06 20:55] haozhu233 commented on #35
@Courvoisier13 Sorry for the delay. I have been traveling in the past few days.

Hmm, first of all, `kable` does support border, but this feature is LaTeX only.

[code]

For HTML, things are getting a little complicated due to the various HTML templates. Some templates show borders by default while others choose not to display the borders. Hmm, I think what I can do here is to add a few extra HTML

[2017-08-07 11:58] Courvoisier13 commented on #35
yes, that is true. I noticed that the border depends on the template. I didnt know we could add a pipe in the align in kable. I can play around with this see what i get.

[2017-08-08 11:51] p-phillips opened #36 "what about a cell_spec ?"
What about having a cell_spec function which allowed you  to alter the bold/colour etc of an individual cell in the table ?

Even better,  would be great if we could pass it a formula which printed all failures in red or bold for example. (i.e., if any cells are <9, then print in red).

[2017-08-08 13:27] EhrmannS opened #37 "styling seems to break with kable()'s 'caption.short'"
A while ago knitr supported a short caption for the list of tables, please see https://github.com/yihui/knitr/issues/1199.

I am not 100% sure if this is an issue of kableExtra, but it seems so, because when I have a `kable` (including a short caption) and then attempt to use `kable_styling()` even without any options set, I get a latex-error "Not in outer par mode".

Looking at the *.tex file rev

[2017-08-08 15:16] Courvoisier13 commented on #35
I checked again. You are right. the pipe works on in Latex. otherwise it gives an error.

[2017-08-10 00:21] haozhu233 commented on #36
Hi, @p-phillips, I totally agree that it would be nice to have a conditional formatting function. I have been thinking about it for a while but it's a little difficult to design a function that is as intuitive as other functions in this package. I'm going to leave this issue open and keep thinking about it.

If anyone have a good idea, please feel free to post it here as well. Thanks! :)

[2017-08-10 00:24] haozhu233 commented on #37
@EhrmannS Thanks for reporting this bug! I'm traveling recently. Once I get a chance, I will work on this bug.

[2017-08-10 10:52] stla commented on #34
Sorry, I meant the other solution is to replace
[code]
with
[code]
That is, just replace `\bottomrule` with `*\bottomrule`.

[2017-08-16 07:26] p-phillips commented on #36
As you already have a row and column_spec function, why not a cell_spec ?  Then we could do the tests for conditional formatting outside the kableExtra call and build up a cell spec for individual cells ?

[2017-08-16 11:57] meenaparam opened #39 "Long footnote text causes striped row backgrounds and change in column alignment"
This is issue is linked to #31.

When running the code below, the long footnote spans over more than one line, and so gets the striped background. It also then changes the alignment of the column on the far right.

Is there a way to allow long footnotes to spread over more than one line whilst maintaining alignment of columns and with a non-striped background?

Demo .Rmd code, using the dev versio

[2017-08-16 15:24] haozhu233 commented on #39
One solution in the current `kableExtra` is to use the `threeparttable` option in `add_footnote`. Note that since this feature needs LaTeX package `threeparttable`, which I haven't put into the default load list in `kableExtra`, *you need to load it by yourself using `usepackage_latex`*.

[code]

[2017-08-16 16:07] meenaparam commented on #39
Thanks for the quick answer! That works fine for the example I gave you, but not in my actual work. There, using `threeparttable = T` seems to lead to `! LaTeX Error: \caption outside float.`

[2017-08-16 17:36] haozhu233 commented on #39
@meenaparam How about moving those two `group_rows` functions before `add_footnote`? The tex code you posted suggested that the `\begin{table}` and `\begin{threeparttable}` were converted to `\textbackslash{}begin\{table\}`. I'm afraid it was caused by the fact that most functions in `kableExtra` are very familiar with `threeparttable` so they treated `\begin{threeparttable}` totally as text. 😂😂😂

[2017-08-16 18:30] meenaparam commented on #39
@haozhu233 Thanks for the suggestion - tried that, but same error as before. Don't worry, I will probably end up removing the longer footnotes if I can't fix it, so it's not a huge priority. Fair enough that most functions treat `threeparttable` as text, it's still a great package! In fact, everything was running perfectly fine when I was making html tables - it's only since switching to PDF repor

[2017-08-16 19:57] haozhu233 commented on #39
@meenaparam I just successfully reproduced the bug. Short answer is that if you remove `scale_down` from your option list, you should be fine without changing anything else.

A longer answer is that, `scale_down` typically put table into a resizable box outside of the `tabular` environment. However, for `threeparttable`, you have to put the resizable box outside of the `threepartable` which wraps

[2017-08-17 02:52] haozhu233 commented on #37
@EhrmannS I think I probably have fixed this bug in the latest dev version. Could you help me check if it works for you in your case?

[2017-08-17 07:58] meenaparam commented on #39
@haozhu233 Thanks for the tip! Ok, I will see what happens if I remove `scale_down` from that table. It's strange, as the `hold_position` problem is happening even though I am not using `threeparttable` at all (at least, not deliberately, as that didn't work because of the caption error). Anyway, not to worry, thanks for all your help!

[2017-08-17 08:00] EhrmannS commented on #37
I can confirm that it works now. Great work, thanks for all your efforts around this package!

[2017-08-17 08:02] p-phillips opened #40 "Latex code in header won't work with kableExtra"
Hi.

I have a dataframe where I have inserted latex code for bold:
`\textbf{92}`

and where I am using some latex code in the header:
`
print(kable(newpercentages,
caption="Percentage of readings $\\geq$  $^{\\circ}$C",
etc ...
`

It works in plain kable (I get the correct latex symbols in the header, and the value '92' comes out in bold), but when I use kableExtra the latex code is not interprete

[2017-08-17 08:27] shanakap opened #41 "How to change the strip color on kableExtra"
The color of the strips are very lite on `Kable `on Pdf output. So is there a way to change the color on `kable_styling(latex_options = "striped")`?

[2017-08-17 08:55] EhrmannS commented on #37
However, it seems to create another problem, not sure if this is connected to the same issue.

When I create a longtable with `kable_styling(latex_options = "repeat_header")`, the repeat-header seems to be formatted wrong. Without this latex_option, the problem does not arise.

without repeat_header:
[code]

with repeat_header:
[code]

As you see, the repeated caption seems to cut off the string s

[2017-08-17 11:30] EhrmannS commented on #37
Here is a reproducible example.

This is fine:
[code]
This not:
[code]

If I remove the `\\textsc` from the short caption, no problems. But I would expect that I can specify also the short caption with formatting, just like the normal caption:
[code]

[2017-08-17 11:50] EhrmannS commented on #40
I think you must set `kable(..., escape = FALSE, ...)`. But, this here is not a [support-forum](https://stackoverflow.com/search?q=knitr) but for reporting bugs.

[2017-08-18 03:27] CarolineXGao opened #42 "Will it be possible to make kableExtra working for other format?"
I found knitting R markdown to word documents really useful when collaborating with non-latex users.  Is there a way to extend the package to markdown format?
Thanks !

Caroline

[2017-08-18 07:15] artemklevtsov opened #43 "[Request] Add text and background color to column_spec and row_spec"
Hi,

Thank you for the awesome package.
It would be nice to add params to specify a colors for text and background. It should be easy for the HTML.

[2017-08-18 15:01] haozhu233 commented on #42
Hi @CarolineXGao, as I said in the README, markdown has its limitation on table representation. If you want to have higher level of control on markdown-formatted tables, I think [pander](https://cran.r-project.org/web/packages/pander/pander.pdf) is the best option we can have right now.

[2017-08-18 15:16] haozhu233 commented on #41
Hi, @shanakap, I added a new option `stripe_color` to `kable_styling`. Now you can do things like:

[code]

Right it only take native LaTeX color codes and those hex HTML codes won't work.

If necessary, I can write a global option to make it easier to use, when I have time.

Also, my current feeling is that for I'd better keep this feature within the LaTeX domain because HTML users can easily cha

[2017-08-19 13:18] shanakap commented on #41
Thank you so much for adding this option. I tried to use this by re-installing `kableExtra` and `knitr` but get the following error,
[code]

[2017-08-19 16:28] haozhu233 commented on #41
@shanakap have you installed from github via `devtools::install_github("haozhu233/kableExtra")`?

[2017-08-20 02:50] haozhu233 commented on #40
Hi, @p-phillips can you provide a little more details on this?

I tried the following codes but I can't reproduce the bug.
[code]

[2017-08-20 02:57] #37 closed

[2017-08-20 03:01] haozhu233 commented on #43
Hi, @artemklevtsov, thanks for your great suggestion! This feature has been implemented now. :)

now you can use
`column_spec(..., color = "white", background = "red")` or similar for `row_spec` to specify color or background color for columns/rows

I will provide the documentation details afterwards.

[2017-08-20 03:01] #43 closed

[2017-08-20 03:09] haozhu233 commented on #35
Hi, @Courvoisier13

I added two new options to `column_spec` today, namely `border_left/`border_right`. So basically you can do things like

[code]

to add a column to the right.

For HTML, the value can also be a character string for the CSS.

[2017-08-20 03:09] #35 closed

[2017-08-20 03:50] haozhu233 commented on #37
@EhrmannS I improved the method which I used to extracted the captions. Now the new bug is gone

[2017-08-22 12:19] shanakap commented on #41
Hi @haozhu233 i figured out the issue,
The following code works fine, `kable(table, booktabs = T,format = "latex") %>%
kable_styling(latex_options = "striped", stripe_color = "red")`

but soon as you try to use more option on `kable_styling` it does not work. ex: `kable(table, booktabs = T,format = "latex") %>%
kable_styling(latex_options = "striped", stripe_color = "red",row.names = FALSE)`

Erro

[2017-08-22 13:34] jschoeley opened #44 "group_rows() fails on tables featuring values in scientific notation"
If table cells contain values >=1 in scientific notation, `group_rows()` fails.

[code]
[code]

[code]
[code]

This is likely due to a parsing error when a plus sign ('+') is present in the table.

[code]

[code]

[code]

[code]

[2017-08-22 20:34] haozhu233 commented on #41
Hi, @shanakap, I think if you want to take off the row names, you should use `row.names = FALSE` in the `kable` function. ;)

[2017-08-22 20:51] #44 closed

[2017-08-22 20:52] haozhu233 commented on #44
Thank you for reporting this bug. It has been fixed now. :)

Please download the latest dev version

[2017-08-23 11:52] jschoeley commented on #44
Thanks a lot for the quick fix!

[2017-08-23 12:04] Rathpete opened #45 "Problem with german "Umlaute" UTF-8 for example ä or ü in Latex using kable_styling"
Hello,

i have problems with using kable_styling from kableExtra and german "Umlaute" in Latex. I use:
test <- kable(tbldf, format="latex", booktabs=TRUE, caption="Test") %>%
            kable_styling(latex_options=c("striped","scale down"))

The result shows this, with the wrong german "Umlaute":

"\\rowcolors{2}{gray!6}{white}\n\\begin{table}\n\n\\caption{\\label{tab:}hallo}\n\\centering\n\\resi

[2017-08-23 12:43] wibeasley commented on #45
Hi @Rathpete, thanks for bringing this up.  To help the process, could do mind adding a second post that
1. is [reproducible](https://gist.github.com/hadley/270442) and
1. demonstrates the undesired conversion occurs with `kableExtra::kable_styling()` (instead of `knitr::kable()`)
?

[2017-08-23 13:31] Rathpete commented on #45
**Here ist the tbldf:**

structure(list(unbeb = c("individuelle Bauweise", "Geschosswohnungsbau", "klassisches Gewerbe", "tertiäres Gewerbe", "Nichtbauland", "Summe unbebaute Grundstücke"
), `2011` = c(" 87", " 29", " 10", " 25", "126", "277"), `2012` = c(" 77", " 26", " 18", " 12", "108", "241"),  `2013` = c(" 95", " 49", " 22", "  4", " 91", "261"), `2014` = c("101", " 29", " 13", "  9", "122",

[2017-08-23 14:03] haozhu233 commented on #45
Hi, @Rathpete, somehow I couldn't reproduce the bug. Could it be your R environment issue?
<img width="672" alt="screen shot 2017-08-23 at 9 56 26 am" src="https://user-images.githubusercontent.com/7014590/29619687-b0054154-87e9-11e7-8b44-c100981ed283.png">

[2017-08-23 14:41] Rathpete commented on #45
In don`t know...
I use the code above in a rmarkdown chunk and this is the ouput:

![grafik](https://user-images.githubusercontent.com/31278285/29621644-a3ad9a5e-8821-11e7-995c-2e64ed111d33.png)

My R environment is:
R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=Germa

[2017-08-23 14:54] haozhu233 commented on #45
I think this thread will help you out:
https://stackoverflow.com/questions/16347731/how-to-change-the-locale-of-r-in-rstudio

Basically, you can try `Sys.setenv(LANG = "en_US.UTF-8")` or something else on that question.

[2017-08-23 16:08] Rathpete commented on #45
The system setting windows.1252 are the standard settings for windows in Germany. Everything in R works until now with this settings. I think the result ist, that i can not use the awesome package kableExtra to generate latex tables in R...

[2017-08-23 16:11] Rathpete commented on #45
I hope you can fix it inside the package, because the kable()-function works with windows.1252

[2017-08-23 16:23] Rathpete commented on #45
I check something out.
The problems with the depend on the latex_option="striped"
Without this ist the output:

+
+   kable_styling()
\begin{table}[!h]
\centering
\begin{tabular}{lllllll}
\toprule
unbeb & 2011 & 2012 & 2013 & 2014 & 2015 & 2016\\
\midrule
individuelle Bauweise & 87 & 77 & 95 & 101 & 60 & 127\\
Geschosswohnungsbau & 29 & 26 & 49 & 29 & 45 & 36\\
klassisches Gewerbe & 10 & 18 & 22 &

[2017-08-23 16:33] Rathpete commented on #45
Only with "scale_down" everything is O.K.:

+
+   kable_styling(latex_options=c("scale_down"))
\begin{table}[!h]
\centering
\resizebox{\linewidth}{!}{\begin{tabular}{lllllll}
\toprule
unbeb & 2011 & 2012 & 2013 & 2014 & 2015 & 2016\\
\midrule
individuelle Bauweise & 87 & 77 & 95 & 101 & 60 & 127\\
Geschosswohnungsbau & 29 & 26 & 49 & 29 & 45 & 36\\
klassisches Gewerbe & 10 & 18 & 22 & 13 & 13 & 11

[2017-08-24 16:23] gaballench opened #46 "`column_spec` producing compilation error in latex pdf"
Hi,

Thanks for this awesome package! I found a problem when using the `kableExtra::column_spec` function both with my own data frame and the example in the LaTeX vignette of the package. I'm using `knit` and editing my Rnw file in emacs with ESS.

The document will not compile unless the package `array` is in the preamble of the Rnw file. Despite the same occurs with the `booktabs` package that i

[2017-08-24 17:21] haozhu233 commented on #46
`kableExtra` will load these latex packages automatically on start-up in a rmarkdown environment. I guess I should have provided this list for sweave users in the documentation. Thanks for your suggestion. I will add these to the vignette later.

For now, you can check the [zzz](https://github.com/haozhu233/kableExtra/blob/master/R/zzz.R) file in this package to see what packages are necessary.

[2017-08-24 17:22] haozhu233 commented on #45
I get it. I will modify the code and add `enc2utf8` to places where necessary.

[2017-08-24 17:22] #41 closed

[2017-08-24 17:22] #39 closed

[2017-08-24 19:25] Rathpete commented on #45
Great! Thank you!

[2017-08-25 08:10] Rathpete opened #47 "Problem with "["-bracket in data, if using collapse_rows()"
There is a problem using collapse rows, if [ is in the data. Here are two examples. One with [ and one without [:

library(dplyr)
library(knitr)
library(kableExtra)

test <- tibble(A1=c(rep("A",3),"B"),A2=c("a","[","c","d"))
test2 <-tibble(A1=c(rep("A",3),"B"),A2=c("a","b","c","d"))

kable(test, booktabs=TRUE, format="latex") %>% collapse_rows(1)

kable(test2, booktabs=TRUE, format="latex") %>% co

[2017-08-25 08:17] Rathpete commented on #47
a 3rd example:

library(dplyr)
library(knitr)
library(kableExtra)

test <- tibble(A1=c(rep("A",3),"B"),A2=c("[","[","[","["))
test2 <-tibble(A1=c(rep("A",3),"B"),A2=c("a","b","c","d"))

kable(test, booktabs=TRUE, format="latex") %>% collapse_rows(1)

kable(test2, booktabs=TRUE, format="latex") %>% collapse_rows(1)

![grafik](https://user-images.githubusercontent.com/31278285/29705513-9b0f8624-897e

[2017-08-25 14:51] haozhu233 commented on #47
I see. I will look into that

[2017-08-25 16:55] soleyjh opened #48 "Yellow Highlight a Row?"
First off, this package is seriously amazing. Thank you so very much for building it.

Q: Is there a way to yellow highlight a row? it seems that row_spec() only allows for bold and italics?

[2017-08-25 17:22] haozhu233 commented on #48
A: There is a way with the dev version of this package. ;)

After devtools::install_github(), you can use things like
[code]

I haven't put these things into documentation because of seriously lack of time recently (but I will). Please feel free to try it out. Also you can change font color with the option `color`.

[2017-08-25 18:45] soleyjh commented on #48
Thanks man!

[2017-08-25 18:45] #48 closed

[2017-08-26 14:43] haozhu233 commented on #45
@Rathpete I solved this issue in https://github.com/haozhu233/kableExtra/commit/d2c0f73e21c69c84a02de780cbdb5515e03baf1d.  I tested it and the bug seems to have gone away. Could you help me test it out in the battlefield? I will appreciate that.

[2017-08-26 15:02] #47 closed

[2017-08-26 15:02] haozhu233 commented on #47
Fixed now. It was a typo in one of my utility functions.

[2017-08-26 15:09] robshep opened #49 "Option to use the [H] float specifier from the float package"
Hi,

I've just been trying out a option that I have added to my local fork.

I find useful the [H] float specifier from the float package.

You can see my implementation here, and seems to work fine.

https://github.com/robshep/kableExtra/commit/c59d15e4cace6ce33c3e43aa9ec40ca2731f6471

[2017-08-26 15:30] haozhu233 commented on #49
Thanks, it makes sense. Do you want to start a pull request?

Also, you can put `usepackage_latex("float")` in the `if` statement, so it will load the `float` package in a rmarkdown environment.

[2017-08-27 03:51] haozhu233 commented on #49
I merged the changes you made. Thanks again for your contribution!

[2017-08-27 03:51] #49 closed

[2017-08-27 15:57] #45 closed

[2017-08-27 15:57] #40 closed

[2017-08-27 20:16] maxheld83 opened #51 "let landscape() cache (or warn) \usepackage{lscape} \usepackage{pdflscape} insertions"
I'm a happy user of `landscape()`, but I ran into a slight snafu on repeated builds with cache, and I have a theory as to why this happened.

**Observation**

*Only* on cached (via knitr) compilations, the LaTeX compilation would fail with something like `landscape environment undefined`.

Deleting the cache, or setting the chunk with `landscape()` option `cache = FALSE` resolved the problem.

Our

[2017-08-28 05:27] haozhu233 commented on #51
Ach, I totally didn't expect having cache could have such an effect... Thanks for bringing it up!

Your hypothesis is correct. `landscape()` will ask rmarkdown to put `\usepackage{pdflscape}` in the header when it's called. It is done through the `usepackage_latex()` function in this package. If you use TeX a lot, you will probably like this utility function. ;)

For the solution, as mentioned in

[2017-08-28 08:32] Rathpete commented on #47
It works well!!!
Thank you!

[2017-08-28 09:09] Rathpete commented on #45
It also works well!!!

Thank you very much!

[2017-08-28 15:03] haozhu233 commented on #42
Hi @CarolineXGao and @mbcann01,

I'm adding a new function in the dev version of this package that can convert LaTeX table codes to an image and insert it to a rmarkdown Word document. If you are interested, please install the latest dev version using `devtools::install_github("haozhu233/kableExtra")` and read the documentation in `?kable_as_image`.

Here is a minimal example.

[code]

<img width=

[2017-08-28 18:46] mbcann01 commented on #42
@haozhu233,

Agreed! This is better than nothing. I'm looking forward to trying it out.

[2017-08-29 01:32] randomgambit opened #52 "how to remove begin{tabular} ?"
Hello,

thanks for this amazing package.

I use it to export dataframes to latex tables that I can include in my tex. However, I was unable to only get the `fragment` of the table, that is the latex output **without** the `\begin{tabular}` environment (because I use my own).

Is there a way to get rid of these lines using `kableExtra` ?

Thanks!

[2017-08-29 14:17] randomgambit opened #53 "add tabularx environment instead of kable_styling(full_width = T) ?"
Hello @haozhu233 !

I tried to use the nice `kable_styling(full_width = T)` option to stretch my latex table but the result is unfortunately quite disappointing in terms prettyness.

 Would it be possible to add some option where the table is actually written in a `tabularx` environment? That will naturally handle the stretching beautifully.

What do you think?
Thanks!

[2017-08-29 15:12] haozhu233 commented on #53
Yeah, I guess the current `full_width` isn't in its best shape. I can work on a `tabularx` solution later

[2017-08-29 15:13] haozhu233 commented on #52
Hi, @randomgambit, is this the same issue as #53? Is `tabularx` just the string you need?

[2017-08-29 15:23] randomgambit commented on #53
@haozhu233 that would be so great! this is an important option

[2017-08-29 15:27] randomgambit commented on #52
@haozhu233 this is actually a different issue.

This is more to provide some sort of `fragment` option similar to `esttab` in Stata http://repec.org/bocode/e/estout/hlp_esttab.html

I found a way to remove the top and bottom lines of the output, but this feels a bit hacky to me.

[2017-08-29 15:41] haozhu233 commented on #52
I would be a little hesitate on adding this feature because what if you provide a caption and `kable` put ur table into a floating `table` shell. In that case removing `tabular` seems quite problematic.

If you look into the source of kableExtra, you may feel some latex parts are pretty hacky as well. So don't be afraid to be a hacker. :P

[2017-08-29 15:45] randomgambit commented on #52
@haozhu233 okidoki :) IMHO the most important feature would be to have a `tabularx` env option ;-) Thanks!!

[2017-08-29 15:51] #52 closed

[2017-08-29 20:45] soleyjh opened #54 "Print from HTML (Webpage) to PDF loses coloring?"
This may not be your issue but I figured I'd ask. When I try to print from an HTML webpage to a PDF I am unable to maintain the coloring of text (all black) or background coloring within the table itself.

for example: in the webpage the following code turns the first row of the table yellow.

row_spec(1, background = "yellow")

However, when I go to PDF the page in Chrome, FF, & IE they all do no

[2017-08-29 21:06] haozhu233 commented on #54
It *is* not my issue, haha :P

If you are curious why, here is a good read: https://stackoverflow.com/questions/33410724/bootstrap-print-css-removes-background-color

I'm not exactly sure about your case but I would suggest maybe you can try to use Safari and check "print background" on the printing page. I'm a loyal chrome user but I found myself best luck there.

Also, if you really really want

[2017-08-30 00:32] soleyjh commented on #54
I really appreciate your help. I will likely attempt to alter the css directly in Chrome.

[2017-08-30 00:32] #54 closed

[2017-08-30 12:52] stla opened #55 "option striped destroys the UTF-8 characters"
Hello,

 Look:

[code]

[2017-08-30 13:13] haozhu233 commented on #55
Have u tried the latest dev version? I fixed a similar bug here https://github.com/haozhu233/kableExtra/issues/45

[2017-08-30 13:14] stla commented on #55
No I have not tried. I will try today, thanks.

[2017-08-30 13:29] stla commented on #55
Yes, it works. Thanks !

[2017-08-30 13:29] #55 closed

[2017-09-01 09:54] EhrmannS opened #56 "collapse_rows() doesn't end up with vertically centred entry"
Hi!

I have the following example. It results in a table, where `car 1` is to be found somewhere in the 4th fifth of the vertical distribution, rather than directly in the middle. This creates for more complex tables and longer values in this "collapsed cell" rather strange behaviour and sometimes the text even crosses the lower boundary of the group. It seems almost as if the value would be centr

[2017-09-01 13:43] qifei9 commented on #37
Currently, for table with `caption.short` para, `magic_mirror` lost the last character when reading the caption. This affects the repeat_header for longtable.

I made a PR for this #57

[2017-09-01 14:08] haozhu233 commented on #37
@qifei9 Great! Thanks!

[2017-09-02 02:47] haozhu233 commented on #53
@randomgambit I improved the way how `full_width` works. It should be able to give you a desired result in most cases. I'm using the `tabu` environment for a more stable interface for both regular tables and long tables.

Also, I add an option `latex_tex_env` so you can specify environments like `tabularx` if you like.

[2017-09-02 02:47] #53 closed

[2017-09-02 02:48] #42 closed

[2017-09-02 02:51] randomgambit commented on #53
@haozhu233 nice ! amazing work! btw I thought tabu was a dead project. Is it still OK to use it?

[2017-09-02 02:57] haozhu233 commented on #53
@randomgambit I'm not sure. I tested it and it seems to work. Do you or anyone who's good with LaTeX have a better suggestion?

[2017-09-02 02:58] haozhu233 commented on #53
After you install the latest dev, you can try
[code]

[2017-09-02 03:05] randomgambit commented on #53
huummm if it works, why bother? 😉 let me do a few tests thanks!!

[2017-09-02 03:07] haozhu233 commented on #53
lol that's what I'm thinking 😝

Let me know if you encounter any bugs.

[2017-09-04 17:09] haozhu233 commented on #46
Hi, @gaballench, I just added some documentation to the pdf vignette. It's at the very beginning of the document and should be very easy to find.
http://haozhu233.github.io/kableExtra/awesome_table_in_pdf.pdf

If you find the documentation I provided isn't clear enough, feel free to let me know.

[2017-09-04 17:09] #46 closed

[2017-09-04 17:17] haozhu233 commented on #51
Hi, @maxheld83,

Thanks again for raising this issue. So far I did 2 things to improve this feature here.

1. In the past, LaTeX package `pdflscape` won't be loaded until `landscape()` was called. That's why when the chunk results were saved, only this feature won't work. Now, I move the location of "black magic trigger" to the start of this package, which should be loaded in most cases. I think i

[2017-09-04 17:17] #51 closed

[2017-09-05 08:55] ivanek opened #58 "bookdown, short.caption (kable) is not compatible with font.size (kableExtra), ! LaTeX Error: Not in outer par mode."
I am getting an error for setting font size parameter in kable_styling function when combined with short.caption parameter from kable itself. I need to use short.caption for list of tables.  The error is
`! LaTeX Error: Not in outer par mode.`

It seems like the short.caption is causing extra "table" environment inserted in tex document.

[https://gist.github.com/ivanek/d58158006992c5e9c7251d3a1bd

[2017-09-05 13:08] haozhu233 commented on #58
Hi @ivanek, have you tried the dev version or latest CRAN (I just updated it today)? I fixed a similar one in https://github.com/haozhu233/kableExtra/issues/37

[2017-09-05 15:56] ivanek commented on #58
That fixed this issue too. Thanks Robert

[2017-09-05 15:56] #58 closed

[2017-09-06 21:57] vrybkin commented on #36
On this note, it would also be neat to be able to center justify cells. For example, if one cell in a row is two lines long, it would be nice to make the rest of the cells in that row be aligned vertically in the center of the cell, as opposed to being on the top line and having an "extra" line below them.

[2017-09-07 14:18] Markouski opened #59 "kable_styling(full_width = T) doesn't work for tables with a caption"
I am getting an error for setting `kable_styling(full_width = T)` when combined with `caption` parameter from 'kable' itself. I'm trying to render a pdf with 'knitr'.

Example:
**1. basic table, this works fine**
[code]
![image](https://user-images.githubusercontent.com/8161754/30167770-212ff074-93f0-11e7-96f8-bf9ac6b561d7.png)

**2. When a caption has been set this gives an error**
[code]
output:

[2017-09-07 16:32] haozhu233 commented on #59
Hi, thanks for reporting this critical bug! I fixed this bug in the latest dev ver. Please try it out using `devtools::install_github()`.
 I feel like since this bug is kind of critical, I will plan for a quick CRAN bug-fix release very soon.

[2017-09-07 17:26] haozhu233 commented on #56
Hi, @EhrmannS, it seems like booktabs' `cmidrule` messed up the multirow's calculation..

https://tex.stackexchange.com/questions/66564/vertical-alignment-using-multirow-and-booktabs

I don't know if I can find a good solution for this. I can certainly remove those midlines. I don't like them either but they are important for tables with multiple header columns. If we keep those midlines, TeX peop

[2017-09-07 17:55] #59 closed

[2017-09-08 15:07] haozhu233 commented on #59
@Markouski Fix is on CRAN now

[2017-09-08 19:03] JTORRES531 opened #60 "Error when installing the package"
When I try to install the package I get the following errors related to the URL not being found, lib not specified and telling me kableExtra is not available for my current R version.

Could you help?

Warning in install.packages :
  cannot open URL 'http://www.stats.ox.ac.uk/pub/RWin/src/contrib/PACKAGES.rds': HTTP status was '404 Not Found'
Installing package into ‘C:/Users/2151521/Documents/R/w

[2017-09-08 19:16] haozhu233 commented on #60
Err... Usually if you try to install it again, this error will be gone.

If not, you can try
[code]
Or any CRAN server addresses on this list https://cran.r-project.org/mirrors.html

[2017-09-08 19:16] #60 closed

[2017-09-08 20:18] JTORRES531 commented on #60
That worked, thanks!

[Description: cid:image001.png@01CB0899.8ED65220]
Joe Torres | Category Analytics Specialist| Merchandise Financial Planning & Category Analytics
Meijer | 2350 3 Mile Rd. NW  | Grand Rapids, MI 49544 | 989/1
P: 616-791-2478
Joseph.Torres@meijer.com<mailto:Joseph.Torres@meijer.com>

From: Hao Zhu [mailto:notifications@github.com]
Sent: Friday, September 08, 2017 3:17 PM
To: ha

[2017-09-11 03:30] ashgreat opened #61 "Decimal point alignment"
Can you please add aligning numbers in a column based on decimal point? LATEX has a nice package names siunitx that can handle this easily. This link provides an example:
https://tex.stackexchange.com/questions/2746/aligning-numbers-by-decimal-points-in-table-columns

I have not come across any package in R that allows this.

[2017-09-11 13:46] MYaseen208 opened #62 "Put a few rows of a table into many categories programmatically"
I guess it would be a good feature to _Put a few rows of a table into many categories programmatically_ like

[code]

[2017-09-11 13:48] haozhu233 commented on #62
Great suggestions! I also saw your question about column/row spec. They will all be features in the next version.

[2017-09-11 13:49] MYaseen208 opened #63 "Specify the look of selected rows programatically"
Currently `kableExtra 0.5.1` only supports _Put a few rows of a table into one category_. It would be nice to a feature which can _Specify the look of selected rows programatically_ like this

[code]

[2017-09-11 13:57] MYaseen208 commented on #62
Thanks for your consideration. Can you provide any solution now.

[2017-09-11 14:18] MYaseen208 opened #64 "Hyperlink in footnote of a table"
It seems that hyperlink does not work in footnote of a table [(See here).](https://stackoverflow.com/q/46140973/707145)

[code]

[2017-09-11 14:36] wibeasley commented on #61
@ashgreat, would this help in the meantime?  Use a monospace font and [`sprintf()`](https://www.rdocumentation.org/packages/base/versions/3.4.1/topics/sprintf) to [pad right](https://stackoverflow.com/a/9262031/1082435) (with spaces or zeros)?

[2017-09-11 14:43] haozhu233 commented on #64
Just answered the SO question cuz there is an existing solution.

[2017-09-11 14:43] #64 closed

[2017-09-11 15:08] ashgreat commented on #61
The problem with that usually is that we use "*" to indicate significance of the coefficients and these are attached the numbers. For example, a coefficient 0.567 that's significant at 1% level might be written as 0.567***. Some other coefficient 0.123 that's significant at 5% will be written as 0.123**. Thus, the length of each value is different. Mono space fonts won't be useful here.
Take a loo

[2017-09-11 16:08] wibeasley commented on #61
@ashgreat, I gotcha.  I'm familiar with the feature in Word.

I think I understand now.  It sounds like you aren't feeding kableExtra a number like `0.123`.  You're feeding receiving a string like `"0.123`" or "`0.123***`", therefore sprintf can't tell the difference between the last digits and any asterisks.  Does this solve your immediate needs?

[code]

[code]

[2017-09-11 16:16] alatzka opened #65 "longtable printed onto bottom margin"
I have an RMarkdown script that uses kable + kableExtra (great job, by the way!) to print a large table to a formatted pdf. In my YAML header, I specify some narrow margins, and call a variety of latex packages for formatting the table and other parts of the document:
`---
title:
output:
  pdf_document: default
geometry: "left=0.4in,right=0.4in,top=0.3in,bottom=0.3in"
params:
  waterbody: NA
heade

[2017-09-11 18:16] haozhu233 commented on #65
Hi, @alatzka, I do wish I could help but I'm not a LaTeX pro and this issue doesn't seem like a kableExtra related problem either. It was still there after I removed `kable_styling` and `add_header_above`. I think the TeX stackexchange(https://tex.stackexchange.com/) is a better place to ask this question.

[2017-09-11 18:16] #65 closed

[2017-09-11 20:56] alatzka commented on #65
Yeah, it does seem like  TeX / longtable issue after reading a bit more. Thanks anyway!

[2017-09-11 23:26] haozhu233 commented on #63
I added support to vector row/column in the latest dev version. Feel free to try it out.

[2017-09-12 15:26] haozhu233 commented on #62
Feature added in https://github.com/haozhu233/kableExtra/commit/49483bf10d0e1cb42c61a6c7b0a72bf7a2b24ee3

[2017-09-12 15:26] #62 closed

[2017-09-12 15:26] #63 closed

[2017-09-12 20:26] eipi10 opened #66 "Align column headings separately from column cells"
It doesn't look like it's possible to align column headings separately from column cells. For example, I'd like to be able to have the column heading centered, even if the data in the column cells is right-aligned for left-aligned. I'm writing to suggest this as a potential enhancement to `kableExtra`.

[2017-09-13 14:56] haozhu233 commented on #61
@wibeasley Thank you so much for providing a solution!

@ashgreat Nice suggestion! In fact, this is a feature I really want to have as well. The difficult part is that due to my lack of knowledge in LaTeX, I feel like the `S` column type has its unique way of defining column width (https://tex.stackexchange.com/questions/350439/reducing-siunitx-column-width) and I'm not sure if features like bold/

[2017-09-13 15:00] haozhu233 commented on #66
Hey, @eipi10, this is a very interesting feature and I can see it can be useful to many people. My instant feeling is that it can work well with the `row_spec(0, centering = T)` idea I proposed in #26. What do you think?

[2017-09-13 15:29] eipi10 commented on #66
Yes, I didn't notice that issue. Ideally, I'd like to be able to set alignments by cell in addition to by row or column, but an alignment argument to `row_spec` (and `column_spec`) would be very helpful. Instead of `centering =TRUE`, what about an `align` argument that can be set to `c`, `r`, or `l`, e.g., `row_spec(0, align="c")` and overrides the default row alignment? If you can do this with bo

[2017-09-13 16:59] haozhu233 commented on #66
I guess for html, the last function called takes precedence. For LaTeX, I'm not sure since column alignment is specified through the string after `\begin{tabular}` but row_spec is basically looping through that row and add things. I guess row_spec will win. :P

[2017-09-14 04:50] VikrantDogra opened #67 "cannot save (LaTeX) table as image using kable_as_image()"
Error Message: Error in open.connection (path, "wb") : cannot open the connection Calls: ... kable_as_image -> write_file-> open -> open.connection execution halted

While knitting an RMarkdown file with the following commands:

`library(knitr)
library(kableExtra)
dt <- mtcars[1:5, 1:6]
options(knitr.table.format = "latex")
kable_as_image(kable_input = kable(dt),filename = "abcd",file_format =
"pn

[2017-09-14 18:35] haozhu233 commented on #67
Hi, @VikrantDogra, thanks again for moving this issue from Stackoverflow to github.

I just made some adjusts to my code and should have solved this Windows problem.

Once you downloaded the dev version using `devtools::install_github()`, you also need to install a software called ghostscript on your windows machine. https://www.ghostscript.com/

I also provided some documentations and an error me

[2017-09-15 11:43] VikrantDogra commented on #67
Hi @ haozhu233 works perfectly fine now. Thanks a lot.
Just a few additional comments for now:
1)	Stripes does not work
2)	For quite a few examples (described in your note “Create Awesome LaTeX Table with knitr::kable and kableExtra”), the tables in the saved image do not occupy 100% of image size. Problems with- stripes, hold position, font size, row spec, grouped columns/ rows, group rows via la

[2017-09-15 15:50] haozhu233 commented on #67
Hmm, I got a note from CRAN last night about changing the dependency on `magick` from imports to suggest. I'm going to make a fix today. Please note that you might need to load `magick` manually after this change.

@VikrantDogra Yeah, this feature is quite "experimental" regarding its functionality and quality. Glad you like this idea. Feel free to report more issues here. ;)

[2017-09-15 21:53] #67 closed

[2017-09-19 02:59] jordanwatson opened #68 "group_rows limited by number of groups / number of rows?"
Hi. Maybe this isn't a bug but I think it might be...I seem to reach a point with group_rows where it maxes out on groups. Maybe it only works for the first page of a longtable? In the example below, I create an index of group headers (myindex). I have some arbitrary number of headers (9 here, spaced six rows apart). In group_rows, if I include 6 of these headers it works. If I include 7 it does n

[2017-09-19 16:01] haozhu233 commented on #68
Hi, @jordanwatson, it does seem like a bug. I will look into it.

[2017-09-22 11:03] MYaseen208 opened #69 "Continued on Next Page for longtable"
I am using `kableExtra` for `longtable` with the following code.

    library(knitr)
    library(kableExtra)

    long_dt <- rbind(mtcars, mtcars)

    kable(
          long_dt,
          format    = "latex",
          longtable = T,
          booktabs  = T,
          caption   = "Longtable"
          ) %>%
    add_header_above(c(" ", "Group 1" = 5, "Group 2" = 6)) %>%
    kable_styling(latex_opti

[2017-09-26 13:10] stla opened #70 "Encoding issue with add_header_above"
Hello,

 I have this character vector `header`:
[code]

It seems that `add_header_above` does not like the UTF8 encoding, the `µ` becomes `Âµ`:

[code]

[2017-09-26 18:00] haozhu233 commented on #69
Sorry for the delay. I have been super busy with my regular job recently. This is certainly a feature I can add. I personally feel like the lack of bottom line in this case is clear enough that this table is not ending but I can see the need. I will add an extra option (like the one allowing you to customized table caption on the next page) when I have time.

[2017-09-26 18:02] haozhu233 commented on #70
I see. I added `enc2utf8` to all of the `kable` contents but I guess I need to add these things to user-input contents like `add_header_above`. I will fix it later when I have time. Thanks for bringing it up.

[2017-09-26 18:24] haozhu233 opened #71 "add some row spacing option to row_spec in LaTeX"
before I forget

[2017-09-27 08:18] stla commented on #70
And now I reproduce...

[code]

[2017-09-27 08:23] stla commented on #70
Look how it is strange:
[code]

Bug:
[code]
No bug:

[code]

[2017-09-27 08:27] stla commented on #70
[code]

[2017-09-27 17:36] haozhu233 opened #72 "add a function to format caption"
again...before I forget....

[2017-10-02 18:59] haozhu233 commented on #69
I added a new argument `repeat_header_continued` to control this feature. Default value is `FALSE` and you can set it to either `TRUE` or a customized string for your DIY need. If you set it to `TRUE`, it will put `(continued ...)` at the end of each page for the longtable.

[2017-10-02 19:02] #69 closed

[2017-10-03 16:50] #70 closed

[2017-10-03 16:54] haozhu233 commented on #70
Fixed now.

Seems like a bug in `sub` on Windows. I remember I have seen this behavior some day.

Try on Windows
`sub("a", x, "abc")`

Replace with stringr::str_replace solves the problem. Maybe I should do it for the whole package.

Hao

[2017-10-05 23:14] EhrmannS commented on #56
I tried out another package (https://github.com/hughjonesd/huxtable) and it seems as if a very similar problem exists that might be connected to latex (https://github.com/hughjonesd/huxtable/issues/9).

Just wanted to let you know. I will use a work-around for my table that doesn't require collapsing the column in the first place.

[2017-10-05 23:14] #56 closed

[2017-10-09 10:08] stla commented on #34
@haozhu233 ,

 Hello. This issue is back. You removed the `bottomrule` at the end of the table ?:

[code]

In my pull request, I fixed this issue by doing

[code]

This `bottomrule` does not appear anymore, and the issue is back.

[2017-10-10 14:55] haozhu233 commented on #34
@stla Can you send me a test document that replicates this bug?

I made some changes to the code to make this feature happen #69. `*\\bottomrule` doesn't work in this case. It will lead to a latex error when rendering.

[2017-10-10 17:24] haozhu233 commented on #26
Now with the dev version, you can use something like `row_spec(your_kable, row = 0, font_size = 20, align = "c")` to specify the header row. :)

[2017-10-10 17:24] #26 closed

[2017-10-10 17:27] haozhu233 commented on #66
I just added this requested feature to the dev ver. Now you can use `row_spec(0, align = "c")` to align the header row differently with others. :)

[2017-10-10 17:27] #66 closed

[2017-10-10 17:39] eipi10 commented on #66
Thanks!

[2017-10-10 17:51] #71 closed

[2017-10-10 17:58] stla commented on #34
Sorry I did some modifications in the code of kableExtra and now I don't manage to reproduce the bug. I will try with the example I posted on tex.stackechange.
Normally there's no error if you do
[code]

[2017-10-10 18:00] stla commented on #34
Yes, the bug occurs with the code posted on tex.stackexchange: <https://tex.stackexchange.com/questions/384576/longtable-starts-a-second-page-to-print-only-the-bottomrule-line>

[2017-10-10 18:51] haozhu233 commented on #34
@stla Can you try it out now? I added the * to the last line of contents.

[2017-10-10 20:06] yonicd opened #75 "CRAN install crashing incompatability w readr::write_file"
[code]

[code]

[2017-10-10 20:37] haozhu233 commented on #75
Thanks! Switched from readr::write_file to base::writeLines in https://github.com/haozhu233/kableExtra/commit/b35f188e58c5e5c7792074ce7b0a5636b96fb355

[2017-10-10 20:37] #75 closed

[2017-10-10 20:40] stla commented on #34
No, the bug is there. I get this code:
[code]

Why don't you do
[code]
? Does it cause a problem?

[2017-10-10 20:46] stla commented on #34
This is the Rnw which yields the bug:

[code]

[2017-10-11 16:11] jpritikin opened #76 "add_footnote notation too inflexible"
APA formatted tables have "three types of notes for tables: general, specific, and probability notes. All of them must be placed below the table in that order." [Here is link.](https://owl.english.purdue.edu/owl/resource/560/19/)

It seems like `add_footnote` is suitable for specific and probability notes. Can you add something like `add_footer` for the general note?

Or am I missing something?

[2017-10-14 00:37] nichtleiter opened #77 "row_spec buggy"
Hi,

i found a strange bug in `row_spec`.

If there is a question mark in paired curly braces in one cell of the dara frame being printed the specified row is skipped.

The following example illustrates this:

[code]

gives the following output

[code]

[2017-10-14 19:20] #77 closed

[2017-10-17 11:13] nichtleiter opened #79 "tabu is not meant to work with booktabs rules"
I spotted a flaw in the way `kableExtra` handles `tabu` tables.

The `tabu` package isn't meant to work with `booktabs` rules. If `booktabs` rules are used `tabu` isn't able to caclulate the correct vertical spacing before and after the rules. In a `tabu` table one should rather user the `tabucline` command.

To illustrate this i wrote a little example coming with a suggestion of how to fix it.

S

[2017-10-17 15:44] haozhu233 commented on #79
@nichtleiter Thank you very much for bringing it up. I guess `booktabs` isn't so great on background color not matter if it's in a `tabu` or regular `tabular`. The table below is a regular `tabular` table but it also has that white gap between the last row and bottom rule.

<img width="581" alt="screen shot 2017-10-17 at 11 22 14 am" src="https://user-images.githubusercontent.com/7014590/31673551-

[2017-10-17 15:58] haozhu233 commented on #76
Hi, @jpritikin, sorry for the late reply. I'm not so familiar with the APA format. Are you suggesting we should have several numbering systems including one unnumbered? Am I understanding it correctly?

If so, I guess it goes beyond what kableExtra currently is capable to do. `add_footnote` is actually the first function I put into this package long time ago and it was not so well designed. It's s

[2017-10-17 16:19] nichtleiter commented on #79
@haozhu233 I also have to thank you for your quick reply! Making it fun to contribute to your great package 👍

I'm somehow a bit short of  time at the moment, nevertheless let me make a bold suggestion.

Since i'm a big fan of `tabu` i don't think that two tabular environments are needed at all. If you want to produce a `tabular` like table with `tabu` (which means that the width of the table is c

[2017-10-17 18:29] jpritikin commented on #76
Yes, and all together in a single table.

Here's how I worked around it for now,

[code]

For this table, I didn't need other lists, just an unnumbered \emph{Note}. Besides this issue, I found your package very easy to work with and the output looks great. It's definitely a step up from `xtable`.

[2017-10-17 18:39] haozhu233 commented on #76
Awesome! I'm glad you worked out your own solution! I'm closing this issue for now and also adding a label to this issue so I can quickly find it out later.

[2017-10-17 18:39] #76 closed

[2017-10-17 19:02] haozhu233 commented on #79
Hi, @nichtleiter, thanks again for your kind words and willingness to contribute. For me, switching all table environments to `tabu` just to fix the little gap caused by background color (which shouldn't be used extensively in PDFs, from a minimalist point of view) seems like an overkill 🤣. Due to the scale of the problem, right now I sort of lean towards on educating people redefine those rules i

[2017-10-17 20:36] kylec opened #80 "group_rows error: expecting a string"
I 'm running your example in the documentation but got the following error.
[code]
Error in node_set_attr(x$node, name = attr, nsMap = ns, value) :
  expecting a string

My software versions
kableExtra_0.5.2
knitr_1.17
tidyr_0.7.1
R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.9.5 (Mavericks)

[2017-10-17 21:44] haozhu233 commented on #80
Hi, @kylec, the code you posted works for me. Can you also tell me your `xml2` and `stringr` version? Maybe a full `sessionInfo()` will be helpful.

[2017-10-17 22:10] haozhu233 commented on #68
Hi, @jordanwatson, thank you for bringing this bug to my attention. Now this bug has been addressed in the latest dev version. :)

[2017-10-17 22:10] #68 closed

[2017-10-19 14:18] PhillRob opened #81 "RTL arabic script with `full_witdh`or `scale_down`"
Works well with `latex_options = c("striped"), but attempting to scale_down or reduce width with arabic text returns the polyglossia error `Package polyglossia Error: The current roman font does not contain the Arabic`. Cannot get the table to fit the page in right to left arabic.

[2017-10-19 14:26] haozhu233 commented on #81
I don't think I have ever touched any font settings here. scale_down is using the `graphix`'s `resizebox`. Striped color is just using `rowcolor`. Is that related? My current assumption is that if there is a bug, that's a bug in those latex packages.

[2017-10-19 22:20] bsshults opened #82 "! LaTeX Error: File `kableExtra.sty' not found."
Hi. I have loaded the kableExtra Package and have run into this error Knitting to PDF in RStudio.  Any ideas? Thanks

[2017-10-19 23:26] haozhu233 commented on #82
I have never defined such a file in this package......

[2017-10-19 23:48] bsshults commented on #82
Hi. Thank you for the quick response. I've substituted your "awesome_table_in pdf.R" code into my markdown file and do not get the same error. The file Knits into a pdf  without errors. I'll dig deeper into my coding. Thanks Again for your help!

[2017-10-19 23:48] #82 closed

[2017-10-21 00:02] vinchinzu opened #83 "cell_spec from vignette appears to be removed?"
http://haozhu233.github.io/kableExtra/awesome_table_in_html.html
[code]

[2017-10-21 01:02] haozhu233 commented on #83
This feature is only on github right now. I still have a few things to add/modify before I release it on CRAN some time next week. You can choose to wait for a few extra days or install the dev version using devtools::install_github()

[2017-10-21 01:02] #83 closed

[2017-10-21 01:08] vinchinzu commented on #83
Thanks. I saw that after a few minutes later and i got it working from Github.

Great work!!

[2017-10-21 02:44] #81 closed

[2017-10-21 03:05] #34 closed

[2017-10-21 03:07] haozhu233 commented on #34
I re-fixed this issue by inserting a // before \endfoot

[2017-10-23 02:59] jimingshuo opened #84 "Align the text in cells"
I am wondering how to align the text in cells? Though I find that I can use "align=c(rep('r', 11))" in kable, how about if I would like to the first row as "center", next one "left?"

Thanks,

Mingshuo Ji

[2017-10-23 03:13] haozhu233 commented on #84
I added an align option to row_spec in the dev version. You can either try it out or wait for the CRAN release very soon.

[2017-10-24 03:36] haozhu233 commented on #36
@p-phillips I added cell_spec and provided a very detailed documentation here http://haozhu233.github.io/kableExtra/awesome_table_in_pdf.pdf

The CRAN ver will be released tomorrow.

[2017-10-24 03:36] #36 closed

[2017-10-24 07:24] p-phillips commented on #36
Wow. That is excellent, and the way it works in the dplyr pipeline is terrific.  Thank you so much for this.

[2017-10-24 08:34] p-phillips opened #85 "use of \ref in add_footnote doesn't appear to work"
I'm trying to refer to another table in the footnote of a kableExtra table.

[code]
But the output I get is:

[code]
Doubling up the backslash doesn't help either.

I can reference the table outside of kableExtra with \ref{tab1}, so the labelling is working OK.

[2017-10-24 12:22] p-phillips opened #86 "add_footnote appears to affect table width"
I am trying to format a table with wide columns, and therefore wrapping the columns using the column_spec width argument.  The table also has footnotes.

I would have expected the table width to be dictated by the total width of the specified columns (4 columns of 2cm each - therefore 8cm wide), with footnotes wrapping at 8cm or so,  but the width of the table appears to be dictated by the long fo

[2017-10-24 13:56] haozhu233 commented on #85
I think adding `escape = FALSE` in add_footnote will solve this issue. Could you try it out?

[2017-10-24 13:59] haozhu233 commented on #86
You can try turn on the `threeparttable` option in `add_footnote`.

Note that `threeparttable` doesn't work with scale_down https://github.com/haozhu233/kableExtra/issues/39

[2017-10-24 14:18] p-phillips commented on #85
That works.  Thanks.
 (Couldn't see it in the options for add_footnote.)

[2017-10-24 14:19] #85 closed

[2017-10-24 14:26] p-phillips commented on #86
Ah - I see - I need to load the threeparttable LaTeX package in the YAML block first of all!   When I tried that I was just getting an error message previously.

So, with

`\usepackage{threeparttable}`

and

`threeparttable = T`

in the call to add_footnote, the formatting works.  Thank you again.

[code]

[2017-10-24 14:27] #86 closed

[2017-10-24 17:30] stla commented on #34
Sorry, I've just seen that I received your message in my spams ! I'll give a try later.

[2017-10-24 20:32] #84 closed

[2017-10-24 20:32] #80 closed

[2017-10-24 22:47] p-phillips opened #87 "Feature Request: ability to have footnotes preceded by Note:"
The Chicago Manual of Style recommends the use of superscript numbers, letters or symbols for notes which are specific to a particular part of the table.

For general notes it says "_A note applying to the table as a whole follows any source note and is introduced by the word Note, in italics and followed by a colon, though other treatments are acceptable if consistently followed._"

Could add_foo

[2017-10-25 09:30] stla commented on #34
It works :+1:
But I don't see the insertion you mention:

[code]

[2017-10-25 21:23] nichtleiter commented on #79
Hey :)

thank you for perception.

My perspective is more like of a consistency standpoint rather than one of a minimalist. The `tabu` package comes with a bunch of feature that are hard to implement with the `tabular` environment. For example with `tabu` one is able to emulate a `tabularx` and a `tabulary` environment.

Best regards

[2017-10-26 14:32] nichtleiter opened #88 "add_footnote doesn't support full width i.e. tabu tables"
Hey,

there is another feature missing due to the inconsistent implementation of full width and non-full width tables (see #79 for another example).

`add_footnote` is not able to handle tables in a `tabu` environment. It's more than a missing feature rather a bug since the code for the `tabu`-case is missing in `add_footnote.R`.

I will work on an implementation with `threeparttablex`. This will

[2017-10-26 15:58] haozhu233 commented on #88
If you have ever tried to admin rstudio connect/server on a centOS you will know why I don't want to move to tabu...

In short, the texlive distribution on centOS lacks many important latex packages including tabu. What makes things worse is that the centOS texlive doesn't come with a latex package manager so that's almost like a game over. The solution I found is that you have to install the vani

[2017-10-27 02:24] jaminday opened #89 "Colspan specification doesn't seem to be implemented correctly when using c(" " = x) in add_header_above()"
Borrowing from the example for add_header_above() in the documentation:

    x <- knitr::kable(head(mtcars), "html")
    add_header_above(x, c(" ", "Group 1" = 5, "Group 2" = 6))

HTML output is for the first header row is:

[code]

Now if I want the first blank cell to span multiple columns (instead of one), I use:

    add_header_above(x, c(" " = 3, "Group 1" = 3, "Group 2" = 6))

HTML output fo

[2017-10-27 15:28] haozhu233 commented on #89
Hi @jaminday thanks a lot for this issue. Clearly it is a bug.  I'll look into that.

[2017-10-27 15:36] #89 closed

[2017-10-27 21:08] jaminday commented on #89
Awesome, thanks. Great package, really appreciate your work.

[2017-10-28 16:17] sebastiansauer opened #90 "Export table to html-file?"
This is a great package, many thanks!

What I wondered is if it is possible to export the table to an html file? In other words, can I get this well polished html table in a standalone file? This would be quite handy for me.

As far as I know, `kable` gives back the R code only, awaiting for knitr routines to convert it to html, latex etc.

[2017-10-29 18:29] jimingshuo opened #91 "how to control the bolder lines?"
"BootStrap style"
![image](https://user-images.githubusercontent.com/33013981/32146942-c1bb3320-bcac-11e7-9f26-85c396a6225b.png)

"Magazine style"
![image](https://user-images.githubusercontent.com/33013981/32146947-cf0bdc6e-bcac-11e7-9491-d2fdd3230590.png)

I have been trying to see how to add extra bolder lines on the top and below the bottom, then highlight the one under the header while hide o

[2017-10-30 04:53] haozhu233 commented on #91
This is more like a css question on stackoverflow. You don't need kableextra here. Just put

[code]
in your rmarkdown outside of r chunks

[2017-10-30 04:53] #91 closed

[2017-10-30 05:26] jimingshuo commented on #91
Thanks a lot! Now I have got the table exactly as what I want. So I should have studied CSS too, cool.

[2017-10-30 21:58] haozhu233 opened #92 "tooltip doesn't work in shiny."
cuz shiny renders the table first and don't put the contents inside the HTML DOM.

[2017-11-01 14:41] vrybkin opened #93 "kableExtra problem on Linux server"
Hi Hao,

Many thanks for this package. I've been having trouble using this package on a Linux server, and I suspect the issue is related to the XML dependency of this package but I am not entirely sure. For example, if you have a kableExtra table that is changed by a check box button, sometimes the table crashes and other times it works with no other changes in inputs. I'd say 80% of the time the

[2017-11-01 15:54] haozhu233 commented on #93
Which linux system are you using? I also installed this package in the rstudio server & connect at my workplace on CentOS and they seem to work fine.

Since you mentioned this package was installed correctly, I assume you have `libxml2-dev` (system dependency of xml2) installed correctly? Maybe you can try to reinstall that?

If you have a reproducible example, maybe you can send it to me via emai

[2017-11-02 02:41] jimingshuo commented on #72
I just find you have opened this issue for some time. I try to use add
caption {
    font-size: 160%;
    font-weight: light;
}
in the CSS <style> section, but it seems it has no effect at all, except the "font-weight:". I also try "font-size: 0.5em", "font-size: 4px", still has no effect.

I am really looking forward to this enhancement.

Thanks,

[2017-11-04 19:19] darh78 opened #94 "Adding units to an specific column in a table"
Hello @haozhu233 ,

Congratulations for your great package.

I'm wondering if there is a possibility to add units (e.g. meters, ºC) to a column in a table using `kableExtra` / `knitr`. I couldn't find anything neither googling it or in your last package version vignette.

If there is not a possibility now (what I guess), it could be a very interesting feature/enhancement.

Best regards.

[2017-11-06 21:20] haozhu233 commented on #94
Hi, @darh78, thank you for your suggestion and sorry for the delayed response! I agree that it can be an interesting feature. I will try to include it in either `column_spec` or `cell_spec` or both.

[2017-11-07 16:07] jjaiprakash opened #95 "formattable integration not working with "latex" option"
Not sure whether this is possible with this package. I am trying to output to a pdf document after certain rows have been formatted using formattable. It is working as expected in html.

[2017-11-07 17:30] wibeasley commented on #95
@jjaiprakash, how are you trying it?  Is there a [minimum code example](https://stackoverflow.com/help/mcve) you can share?

[2017-11-07 18:27] jjaiprakash commented on #95
In the following code if I change to kable(ds, "latex", escape = F) and knit to pdf, the code does not work as the styling from formattable::formatter is not carried through.

`

        ds <- read.table(header = TRUE, text ="
                         Group Attribute
                         A high
                         A medium
                         B low
                         C low

[2017-11-07 19:04] wibeasley commented on #95
@jjaiprakash, Does your Rmd file and table look something like this and this?
[code]

![image](https://user-images.githubusercontent.com/1372890/32511707-33f6d552-c3ba-11e7-971f-09fca8c457b6.png)

And with the pdf/latex values toggled (in the yaml header and in the `knitr::kable()` call), the table looks like this?
![image](https://user-images.githubusercontent.com/1372890/32511751-57a74900-c3ba-1

[2017-11-07 20:42] jjaiprakash commented on #95
yes, that's what I get. I was trying to use `formattable::formatter()` because all css elements are not available as styling elements in kableExtra. It works well with html, but for latex the existing functions would need to extended and I don't yet know how to do that. My current workaround is to print as html and then using a html to pdf converter. But that cannot work in a seamless way for knit

[2017-11-07 21:13] haozhu233 commented on #95
Hi, @jjaiprakash, as @wibeasley suggested, `formattable::formatter()` will only give you some raw HTML codes, which won't be rendered by `pdf_document`. You can't do too much with it unless you are using webshoot.

I haven't added the text strikethrough feature to `kableExtra` (maybe I should). For the purpose of your case, in fact, you don't need either `formattable` or `kableExtra`.

    ---

[2017-11-08 04:28] jjaiprakash commented on #95
Thanks for the latex education. That's perfect.

[2017-11-08 09:38] ParsaAkbari opened #96 "HTML Code Escaped"
The HTML included by conditional logic of cells is escaped when running the following set of commands: The HTML appears as plain text in the table.

[code]

[2017-11-08 13:09] haozhu233 commented on #96
You need to put escape = F in kable.

[2017-11-08 18:14] #95 closed

[2017-11-08 18:14] #96 closed

[2017-11-09 21:51] ahdee opened #97 "column_spec not working with longer tables"
Hi I find that column_spec with background color does not appear to be working with longer datframes. So for example when I do.

[code]
this seem to work however on more complicated longer dataframe the bold and italic would work but the background color does not show up.  Weird thing is that if I change style to
`latex_options = c("striped", "hold_position")`
this would color but only the header

[2017-11-09 22:04] haozhu233 commented on #97
Hi, @ahdee,

In LaTeX, `column_spec` does its trick by changing the column alignment/formatting section. It doesn't alter every cell. I guess it loss it's battle against`\rowcolor...` for the striped rows.

You can, use the new `cell_spec` function to forcefully add color to every cell but you need to put `escape = F` in `kable`. Also, `cell_spec` doesn't work on row.names of the data.frame.

[cod

[2017-11-10 05:06] ahdee commented on #97
@haozhu233 great thank you.  If that is the case why not just use the same strategy for all column_spec function? just a thought. thanks. I'm gonna try this out.

[2017-11-10 14:51] ParsaAkbari commented on #96
Sorry to re-open.
On a slightly tangential topic, if you use HTML and escape=F the 'digits' option for rounding numbers no longer works.

[2017-11-10 17:19] stephLH opened #98 "Feature request - Add inline CSS parameter to row_spec, column_spec and cell_spec"
Hi,
First thanks very for this very useful package !

Would it be possible to add a custom CSS parameter (as a string parameter) to spec family functions ?
For instance, I try to set the padding-right to the values of a specified column.
With a regex, I tried to add inside the kableExtra output the style "padding-right: 20px;" but it broke my ioslides output.

[2017-11-10 17:48] ahdee opened #99 "Feature_request: add strikeout"
Hi, is it possible to add strikeout. Currently for latex I notice there is bold and italic but what really important sometimes to strikeout.  The reason is because its a nice way to show if a sample is not included in an analysis for example.  thanks!
A

[2017-11-10 18:18] haozhu233 commented on #96
@ParsaAkbari after you use `cell_spec`, the contents of the column you modified are turned into character string with CSS text. That's why the digits won't work. You'd better do the rounding in `mutate` before you use `cell_spec`.

[2017-11-10 18:20] haozhu233 commented on #98
Sounds like a good idea. 👍

[2017-11-10 18:23] haozhu233 commented on #97
I guess for HTML, I can do that but for LaTeX, since we want to modify column width, those formatting things have to stay on top.

[2017-11-10 18:23] #97 closed

[2017-11-10 18:23] #93 closed

[2017-11-10 18:24] #61 closed

[2017-11-10 18:29] haozhu233 commented on #99
There were some discussion in https://github.com/haozhu233/kableExtra/issues/95. It should be fairly easy for HTML but for LaTeX, I have been hesitate on that for a long time whether I should import a whole package just for the strikethrough feature. 😂

[2017-11-10 18:41] ahdee commented on #99
oh you mean you need an additional package for strikeout? I would vote for that =D what about only loading when the feature is requested?

[2017-11-13 19:49] billdenney opened #100 "Feature Request: Multi-row LaTeX Output with Repetition of the Value for the First Page Row"
Thank you for the package!

I wonder if you could incorporate something like (https://tex.stackexchange.com/questions/79143/how-to-repeat-cell-content-on-next-page-for-longtable-using-multirow) into kableExtra?  Specifically:  Could an option for `collapse_rows` be given that would collapse rows using LaTeX code similar to that in the Stack Exchange answer?  And, could that answer be expanded to h

[2017-11-14 16:49] haozhu233 commented on #100
Hi, @billdenney, that SE answer self-defined a marco `topic`, which is sort of getting beyond what this package can do. Right now rmarkdown only allows us to pass in latex package names.

Also, in your case, if you have a complex table that is full with text, you should be able to write the tex code directly in rmarkdown.

[2017-11-14 22:38] eipi10 opened #101 "Enhancement: Ability to add lines to kable tables using hline, cline, etc."
It doesn't look like there's a way to add rule lines to using `kableExtra` (please correct me if I'm wrong about this), so I thought I would add this as an enhancement request. Below is an example of an `rmarkdown` document that includes a table with a few types of horizontal lines (though it would be nice to be able to add vertical lines too). I've used `xtable` to illustrate, but I prefer `kable

[2017-11-15 12:52] wolfganglederer opened #102 "magic_mirror can't cope with the use of kable option align"
If the kable option `align` is used, it can mess up the result of the `magic_mirror` function

    tab <- kable(head(cars),
             "latex",
             align = "p{0.5\\linewidth}p{0.5\\linewidth}")

    magic_mirror(tab)

e.g. the number of columns is not calculated correctly

    $align
    [1] "0.5\\linewidth"

    $valign
    [1] "{p{0.5\\linewidth}p{0.5\\linewidth}p{0.5\\linewidth}p"

[2017-11-15 15:57] haozhu233 commented on #101
@eipi10 nice suggestion! I wrote s module to do cmidrule things when dealing with `collapse_rows`. I think I should be able to expend it to row_spec

[2017-11-15 17:00] haozhu233 commented on #102
Hi, @wolfganglederer,

Here are two things.

1. You need to provide a vector of strings as the align argument in `kable`. When you do
[code]
you see
[code]
if there is only one element in `align` while your table has 2 columns, `kable` will repeat align twice... It is working because latex is unusually tolerance on that.. In this case, you should use `align = c("p{0.5\\linewidth}", "p{0.5\\linewid

[2017-11-15 17:32] rabutler opened #103 "group_rows() does not work with non-unique rows"
Thanks for this awesome package!

I think I've found an issue with `group_rows()` with latext output (not sure about html as I haven't tested it).

If there are rows that are not unique, `group_rows()` does not properly indent them.

Ex:
[code]
But if you have another January row in the second group, it does not indent it:
[code]

The output is:

\toprule
a & b\\
\midrule
\addlinespace[0.3em]
\mul

[2017-11-15 20:54] haozhu233 commented on #103
Hi, @rabutler, I think you probably are using an old version of `kableExtra`. I fixed this bug in ver 0.6.0. :)

If you update you package, this bug should be gone.

Hao

[2017-11-16 04:55] rabutler commented on #103
Thanks @haozhu233. You are correct. My apologies for not ensuring I was using the latest version. Thanks again!

[2017-11-16 04:55] #103 closed

[2017-11-16 17:05] tbadams45 opened #104 "Cannot use booktabs when compiling to beamer"
Hi,

First of all, thanks for creating this package. I've used it a number of times before now and really enjoy it.

I'm trying to use kableExtra while compiling to a beamer presentation, and am running into some difficulties. I can't use booktabs, and it seems like there are conflicts with other options (e.g. striped).

When I output the following as a `beamer_presentation`:

[code]

I get:
[code

[2017-11-16 20:19] haozhu233 commented on #104
Hi, @tbadams45, I answered a similar question on SO yesterday. ;)

https://stackoverflow.com/questions/47315509/kableextra-only-works-if-theres-another-table-in-the-presentation/47316275#47316275

[2017-11-16 20:19] #100 closed

[2017-11-16 21:08] tbadams45 commented on #104
Great, thanks! I was getting messed up with the xcolor conflict.

[2017-11-16 21:08] #104 closed

[2017-11-16 21:08] billdenney commented on #100
That's reasonable.  Thank you.

[2017-11-26 17:40] p-phillips commented on #76
Just want to record my support for this enhancement.  (I'm really enjoying the new functionality with kableExtra!).

[2017-11-27 04:55] vancelopez opened #105 "cell_spec bold will not test condition"
Using `ifelse` in the `bold` argument of `cell_spec` does not work. Using the documentation example, I changed the "mpg" input to have a `bold` argument instead of `color`. In this example, all rows of "mpg" will be bold type face:

[code]
Session info:
R version 3.4.0 (2017-04-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

loc

[2017-11-28 21:41] kiefersmith commented on #90
I am also curious if this is possible.

[2017-11-29 13:00] winterwang opened #106 "How can we align the table created when using Scroll box?"
Hi, when using the Scroll box feature to embed big(or long) table for websites, the `position=center` option within `kable_styling()` seems not functioning.

Do you have any suggestion for positioning a scroll box table in an HTML file?

Many thanks!

[2017-11-29 17:02] haozhu233 commented on #106
If you have already specify a width value for the scroll box like "400px", you can try to use the `extra_css` in `scroll_box` and put `margin-left: auto; margin-right: auto;` there.

[2017-11-29 23:06] winterwang commented on #106
Awesome! Problem solved, cheers!

`scroll_box(width = "400px", height = "500px", extra_css="margin-left: auto; margin-right: auto;")`

[2017-11-29 23:06] #106 closed

[2017-12-04 22:52] alatzka commented on #65
Just in case anyone else comes across this and is having the same issue, I did find a solution.

.Rmd Header:

` ---
title:
output:
  pdf_document: default
classoption: landscape
geometry: "left=0.4in,right=0.4in,top=0.3in,bottom=0.8in,headheight=1.5cm,includehead"
params:
  waterbody: NA
header-includes:
   \usepackage{graphicx}
   \usepackage{fancyhdr}
   \usepackage{eurosym}
   \usepackage{book

[2017-12-06 17:02] viking commented on #23
I'm experiencing this same problem using knitr. Here's my markdown file:

    ---
    output:
      pdf_document:
              fig_width: 6
              fig_height: 9
              fig_caption: true
    ---
[code]

And my R program:

    library(knitr)
    library(kableExtra)
    library(magrittr)
    rmarkdown::render("foo.Rmd", output_file="foo.pdf")

[2017-12-06 17:37] steffilazerte opened #107 "Problem with border_left in column_spec"
Hi, when I try to use the `border_left` argument of `column_spec` something goes funny and the document spits out latex code as text in addition to a malformed table.

Here is the testing.Rmd file ([testing.txt](https://github.com/haozhu233/kableExtra/files/1536231/testing.txt), I saved as txt so I could upload to github)

This Rmd file produces the following output:
- [testing.pdf](https://github

[2017-12-17 19:29] WillemSleegers commented on #87
This appears to be implemented now; but in a way that makes it impossible to NOT have it say 'Note:'. I personally would like the option to display that word or not.

[2017-12-21 15:56] JonahLong opened #109 "collapse_rows does not work when my non-collapsed columns have repeated values"
I am relatively inexperienced with programming, so I am sorry if I am overlooking something really simple here, but I am experiencing the same issue as this person who posted recently in SE recently:
https://stackoverflow.com/questions/47562909/error-using-kableextra-collapse-rows-with-non-unique-values-in-non-collapsed-col

collapse_rows seems to be causing an error when a table contains repeated

[2017-12-27 16:55] ericpgreen opened #110 "first column appearing outside of the table in html tags"
I posted to SO a while back about the first column appearing outside of the table in html tags when using `kable_styling()`. Any clues to what might be causing this behavior?

[SO](https://stackoverflow.com/questions/46820236/first-column-outside-of-kable-table-with-kable-styling)

[2017-12-27 17:07] haozhu233 commented on #110
Hmm, I still cannot reproduce the bug. Can you try to remove ` results='asis'` and let me know what happens? `kable` doesn't need you to specify `asis` anymore.

[2017-12-27 17:26] ericpgreen commented on #110
Thanks, @haozhu233. I get the same result.

My colleague in the office can't reproduce this either.

[code]

[2017-12-27 18:04] haozhu233 commented on #110
Hi, @ericpgreen, thanks for the session info. I'm sure it's not a mac issue as I did the programming on a mac as well. Can you send me the raw HTML code generated by the code?

[2017-12-27 18:10] ericpgreen commented on #110
Thanks. It's quite long, so saved to `txt`.
[test.txt](https://github.com/haozhu233/kableExtra/files/1589606/test.txt)

[2017-12-27 19:03] haozhu233 commented on #110
I see. The first column was treated as `code` by rmarkdown.
[code]
Could you also execute the `kable` code in R console and let me what you get? I want to know what makes rmarkdown think they are codes. Thanks!

[2017-12-27 19:21] ericpgreen commented on #110
Here's what I get in the console:

[code]

[2017-12-27 19:56] haozhu233 commented on #110
@ericpgreen I just tried to fix this behavior via https://github.com/haozhu233/kableExtra/commit/0a98df0fea857b9306164b6ea9b55d3079ce15d1. Could you try to reinstall from github and let me know what you can get now?

[2017-12-27 19:59] ericpgreen commented on #110
magical. works now. thanks for taking the time to fix a problem no one could seem to reproduce.

[2017-12-27 20:02] haozhu233 commented on #110
lol Great! Thank you for your fast feedback! :D

[2017-12-27 20:02] #110 closed

[2018-01-01 17:16] p-phillips commented on #87
I don't think this has been implemented - just had a look at Hao's code for
add_footnote and only the three options (alphabet etc) are available.

Willem - can you explain how you got this to work ?

Pete

On 17 December 2017 at 19:29, Willem Sleegers <notifications@github.com>
wrote:

[2018-01-08 11:14] koliii opened #111 "How to remove table grid lines when using collapse_rows option in kable table?"
Hi @haozhu233 ,

Please help me to remove these grid lines, working example is presented below:

[code]

[2018-01-08 11:18] koliii opened #112 "Kable long table title is not coming on the corresponding pages when using collapse_rows option?"
Please see this working example:

[code]

[2018-01-08 18:16] haozhu233 commented on #112
2 things here:
1. If you are talking about the table caption, just add `kable_styling(latex_options = "repeat_header") %>%` after your `kable` statement will solve this problem

2. If you are talking about the missing "a" in column C1, it's a LaTeX longtable problem and I guess there is nothing I can do. Basically there are 2 ways to insert a `multirow` in LaTeX, one is to do it at the top and cou

[2018-01-08 19:12] koliii commented on #112
Thanks @haozhu233 , `kable_styling(latex_options = "repeat_header")` solved this issue.

[2018-01-08 19:18] #112 closed

[2018-01-08 19:22] koliii commented on #112
But on adding `%>%
add_footnote(c("Footnote 1", "Have a good day."), notation = "alphabet")`, table is giving error:
` Warning in add_footnote(., c("Footnote 1", "Have a good day."), notation
 = "alphabet"): Notation is set to 'number' and other formats are not
supported.`

[2018-01-08 20:58] #102 closed

[2018-01-08 21:12] #105 closed

[2018-01-08 21:14] haozhu233 commented on #105
Thanks! Fixed now. Sorry for the delay.

[2018-01-08 21:30] haozhu233 commented on #98
I just added this feature in b1de967e10965214d970a8505cfc3f8fc2c6b419. Sorry for the delay. :P

[2018-01-08 21:30] #98 closed

[2018-01-08 21:32] stephLH commented on #98
thanks a lot !
I'll try that soon :)

[2018-01-08 21:44] soleyjh opened #113 "How do I italicize a cell in a row?"
[code]

  It seems like it should be as simple as cell_spec(1,8, italicize = TRUE) but that hasn't proven to be the case. Any help would be appreciated.

[2018-01-08 21:53] haozhu233 commented on #113
First of all, there was a bug #105 in current CRAN cell_spec and I just fixed it. Please reinstall from github.

[code]

[2018-01-08 22:08] soleyjh commented on #113
I realized my issue and it's different than originally thought.

I'm not sure why it's creating two new columns and not replacing the old ones with the new formatting.

[2018-01-08 22:22] soleyjh commented on #113
Thanks for the code. That seemed to work. Unfortunately though I now have these nasty error messages that show up in my markdown:

## Warning in if (italic) cell_style <- paste(cell_style, "font-style:
## italic;"): the condition has length > 1 and only the first element will be
## used

## Warning in if (italic) cell_style <- paste(cell_style, "font-style:
## italic;"): the condition has length >

[2018-01-08 22:36] soleyjh commented on #113
Okay. warning=FALSE  WORKED.

Now I just need to understand why it's shrinked!

[2018-01-08 22:44] haozhu233 commented on #113
Hmm, if you use devtools::install_github("haozhu233/kableExtra"), the warning should be gone. :)

[2018-01-08 22:44] #113 closed

[2018-01-08 23:09] #88 closed

[2018-01-08 23:32] soleyjh opened #114 "Lose Kable_Style Formatting with Cell_Spec() inputs"
[code]
Is there a way to maintain the kable(format.args = list(decimal.mark = ".", big.mark = ",") formatting even with conditional cell_spec() formatting. I'd like not to lose my decimal marks and commas.

[2018-01-09 15:29] haozhu233 commented on #114
I think you can achieve the same result by changing the first part to
[code]
Also, for general questions in such details, StackOverflow is probably a better place cuz it wont's send emails to all watchers of this project and may benefit other people with similar questions. :)

[2018-01-09 15:29] #114 closed

[2018-01-09 18:37] haozhu233 commented on #87
@p-phillips @WillemSleegers @jpritikin I added a new function called `footnote` which is intended to replace the `add_footnote`. It allows you to have multiple sets of footnotes with different notation systems. You can also specify titles for each section, change the order or choose to squeeze footnotes into chunks. Feel free to download the dev ver and check it out. For now, you can use the funct

[2018-01-09 18:53] soleyjh commented on #114
https://stackoverflow.com/questions/48174897/kable-cell-spec-conditional-formatting-not-working-correctly

[2018-01-09 19:20] #87 closed

[2018-01-09 19:33] jpritikin commented on #87
Wow, that sounds great. I'll try it out for the next manuscript.

[2018-01-09 23:23] p-phillips commented on #87
Terrific.  Thank you for implementing that.

A related question  - is there any way to force footnotes which are wider than the table to wrap ?  (threewaytable doesn't work for the footnote function).

[2018-01-10 03:52] haozhu233 commented on #87
It shouldn't be too difficult to add threeparttable to `footnote`. I can try to add it later.

[2018-01-10 16:33] haozhu233 commented on #87
@p-phillips threeparttable added now.

[2018-01-10 22:13] haozhu233 commented on #90
Hi, @sebastiansauer @kiefersmith, I just added this feature to the dev version of this package. Now when you run things like `kable() %>% kable_styling()`, it will be automatically rendered in the RStudio viewer panel or your browser if you are running R in terminal. I guess you can save tables from there. :)

[2018-01-12 18:39] haozhu233 commented on #99
Hi, @ahdee, I just added strikeout and underline to those spec functions. Feel free to try it out in the dev version using `devtools::install_github()`

[2018-01-12 18:39] #99 closed

[2018-01-12 18:39] #90 closed

[2018-01-12 20:25] #107 closed

[2018-01-12 20:26] haozhu233 commented on #107
Hi, @steffilazerte Sorry for the delay. This bug has been fixed now. I will update the CRAN ver in a few days.

[2018-01-12 20:53] steffilazerte commented on #107
No worries, thanks for the fix!

[2018-01-12 22:48] #109 closed

[2018-01-12 22:49] haozhu233 commented on #109
Hi, @JonahLong, sorry for the delay. Now this bug has been addressed in the dev version. :)

[2018-01-13 11:23] p-phillips commented on #87
Beautiful.  Works perfectly.   Once again, thank you.

[2018-01-13 21:20] haozhu233 commented on #111
@koliii I added a `latex_hline` option to `collapse_rows`. You can choose from `full`, `major` or `none`.

[2018-01-13 21:20] #111 closed

[2018-01-14 21:31] haozhu233 commented on #101
Hi, @eipi10, sorry for the delay. I just added this feature to `row_spec`. Now you can use `hline_after` or `extra_latex_after` to add additional contents after certain rows. :)
<img width="398" alt="screen shot 2018-01-14 at 4 28 22 pm" src="https://user-images.githubusercontent.com/7014590/34920891-4322a68c-f948-11e7-8e91-b21e21b4ca2e.png">

[2018-01-14 21:31] #101 closed

[2018-01-14 21:42] eipi10 commented on #101
Thanks!

- Joel

[2018-01-16 23:11] murraycadzow opened #115 "Underscore in footnote doesn't knit to pdf"
Hi,
Absolutely love this package! I saw that there were some new footnote options that were available and wanted to try them out but came across this error in doing so

I found that with the dev version (specifically commit 182cfbd) when there is an underscore in the footnote that the document won't knit

here is an example Rmarkdown
[code]

and I get the following error message:
! Missing $ inser

[2018-01-17 00:22] murraycadzow commented on #115
As a follow up I have discovered that this works:

[code]

but not
[code]

I don't understand what's going on behind the scenes well with the markdown -> tex -> pdf, but perhaps there is a way that the default setting is the text entered comes out verbatim?

Thanks
Murray

[2018-01-17 00:35] haozhu233 commented on #115
Hi, @murraycadzow I totally agree with you that we should make things easier for people to use and thank you for raising this issue! I will look into that.

[2018-01-17 11:20] koliii commented on #111
Thank you @haozhu233 . Sorry, late reply due to traveling.

[2018-01-17 14:08] koliii opened #116 "After adding "repeat_header" the footnote of a longtable is misplaced?"
Please see this example:

[code]

[2018-01-22 05:48] koliii opened #117 "How to round digits of a column when using cell_spec function?"
I used these codes to produce the attached output. Problem is after using `cell_spec` function column `C.alpha` is not rounding to 2 digits like the other columns in the output.

[code]
Output table is:

![screenshot from 2018-01-22 11-11-17](https://user-images.githubusercontent.com/28312545/35206910-cfb20494-ff65-11e7-9c7a-a5b0258d8a44.png)

[2018-01-22 06:54] haozhu233 commented on #117
Try
[code]

[2018-01-22 07:22] koliii commented on #117
Thank you so much @haozhu233 , your suggestion worked perfect, beautiful table output.
![screenshot from 2018-01-22 12-48-21](https://user-images.githubusercontent.com/28312545/35209249-c15adc06-ff72-11e7-8a00-cae1510b45da.png)

In my opinion, among all open source communities, `R` community is the best. :)

[2018-01-22 07:33] koliii commented on #117
And what should I do to make only these red digits bold as well?

[2018-01-22 07:49] koliii commented on #117
Using your awesome table examples, I did this for bold:

[code]

[2018-01-22 15:57] haozhu233 commented on #117
@koliii There was a bug in kableExtra 0.61 that prevents you from doing these. You need to update your package to 0.7.0.

[2018-01-22 17:45] koliii commented on #117
I'm not able to bold only red digits,

![screenshot from 2018-01-22 23-12-29](https://user-images.githubusercontent.com/28312545/35235429-14deb79c-ffca-11e7-9461-541c6c9e4815.png)

[2018-01-22 18:35] koliii commented on #117
Thanks, your suggestion worked good and produced this table output:

![screenshot from 2018-01-23 00-04-09](https://user-images.githubusercontent.com/28312545/35237586-1da81fa6-ffd1-11e7-941c-fcabf203a8fb.png)

[2018-01-22 23:15] mattocci27 opened #118 "kable_as_image() produces a windows specific error for mac and not working"
Here is a reproducible example.

[code]
This is XeTeX, Version 3.14159265-2.6-0.99998 (TeX Live 2017) (preloaded format=xelatex)
 restricted \write18 enabled.
entering extended mode
Error in kable_as_image(.) :
  Ghostscript is required to read PDF on windows. Please download it here: https://ghostscript.com/

I got the same error when I rendered the above script as a rmd file.

[code]

[2018-01-22 23:15] #117 closed

[2018-01-23 18:32] angelo-pereira opened #119 "HTML output: add_header_above and collapse_rows not working together"
(Using kableExtra `0.7.0.9000´)
Adding headers and collapsing rows on the same html table produces the error:
[code]
(pdf output works fine)

Here is a reproducible example, adapting the code from the manual for grouping multirow cells:

[code]

[2018-01-23 18:35] haozhu233 commented on #119
I see. I will try to fix it. In the mean time, if you `collapse_rows` before you `add_header_above`, the error will be gone.

[2018-01-23 18:38] haozhu233 commented on #118
I experienced this error before by myself and it seems like a lack of latex package problem. It's possible that your texlive don't contain `standalone` or a few other latex packages. I will look into it.

Anyway, I need to fix that error message. Thanks for bringing it up

[2018-01-24 10:24] angelo-pereira commented on #119
Thanks!

[2018-01-24 10:54] angelo-pereira commented on #119
While you're at it, I just found out that if you add a `column_spec` AFTER a `collapse_rows` you get the same error. Equally, it works on the reverse order.

[2018-01-24 13:25] koliii opened #120 "How to insert math symbols in footnote of kableextra table?"
Hi Hao Zhu, @haozhu233

I tried this example

[code]

[2018-01-25 11:38] SWolf23 commented on #120
Hi

there is an option in footnote called 'escape' set it to FALSE then you can write Latex Code in the Comments and it will work.
`\documentclass{article}
\begin{document}
<<>>=
library(kableExtra)
dt <- mtcars[1:5, 1:6]
knitr::kable(dt, "latex", align = "c", booktabs = T) %>%
  footnote(
    general = "Here is a general comments of the table. ",
    number = c("$y = a+b;$", "$e = {mc}^{2};$"), #

[2018-01-25 13:01] koliii commented on #120
Thanks @SWolf23

[2018-01-25 13:52] rubemd commented on #120
Concerning this topic, I am having troubles to put a % sign in a footnote. I tried $%$, $\%$, but I don't have success. Could you please check on it?

tab <- tribble(~Software, ~Persistência, ~Detecção, ~Fatalidades (Total), ~Fatalidades/ano, ~Fatalidades/km/ano,
"Carcass", "37,94", "0,80 (0,70-0,87)", "29.066 (19.932-43.278)", "7.267 (4.983-10.820)", "8,43 (5,72-12,42)",
   "Siriema", "25,94", "0

[2018-01-25 13:59] koliii commented on #120
I too got the error on inserting `$%$` in kableextra table footnote

![screenshot from 2018-01-25 19-28-28](https://user-images.githubusercontent.com/28312545/35391873-f1a6b138-0205-11e8-887c-f31ac7978929.png)

[2018-01-25 15:57] haozhu233 commented on #120
There is a bug in `footnote`'s escape. It seems like I should use double escape there.

Similar issue reported in
https://github.com/haozhu233/kableExtra/issues/115

[2018-01-26 10:49] SWolf23 commented on #120
I don't know why but it works if you escape the % with 4 times \  ;
Means `\\\\%`
[code]

[2018-01-26 11:31] SWolf23 opened #121 "Latex packeages are not loaded"
Hi @haozhu233
in [Create Awesome LaTeX Table with knitr::kable and
kableExtra](http://haozhu233.github.io/kableExtra/awesome_table_in_pdf.pdf) you mentioned that the latex packages will be included in the Header automaticaly.
In my case thats not working espacialy 'booktabs'. It works fine if i load it seperatly but is not loaded automaticaly as u mention it should. I used an example out of anothe

[2018-01-26 13:38] rubemd commented on #120
Yes, @SWolf23, I saw it in the issue @haozhu233 mentioned and it also worked for me! Thank you!

[2018-01-26 16:41] haozhu233 commented on #121
Hi, @SWolf23, I should have made it more clear that the "auto load" feature is only available for `rmarkdown` but not sweave. To make this magic happen, it actually need code supports from the rmarkdown side. In the vignette of `kableExtra` you can also find a list of latex packages. If you include those in the LaTeX header of your sweave document, you will be fine.

[2018-01-26 16:45] haozhu233 commented on #120
@rubemd @SWolf23 Thank you so much for point out the solution! Also, please be aware that this is a bug that will be addressed soon. Once the bug is fixed, you'll need to change the quadruple slash back to double. Sorry about this confusion. :P

[2018-01-27 00:17] ahdee commented on #99
Wow Hao, you rock man. Thanks for your continuous update to this package.
Alex

`-:-.   ,-;"`-:-.   ,-;"`-:-.   ,-;"`-:-.   ,-;"
   `=`,'=/     `=`,'=/     `=`,'=/     `=`,'=/Alex.Lee/ Ph.D
==/650.898.7331 =/ Summer Winds
   ,=,-<=`.    ,=,-<=`.    ,=,-<=`.    ,=,-<=`.
,-'-'   `-=_,-'-'   `-=_,-'-'   `-=_,-'-'   `-=_

On Fri, Jan 12, 2018 at 11:14 AM, Hao Zhu <notifications@github.com> wrote:

[2018-01-29 12:19] SWolf23 commented on #121
Ok perfect. Then all is fine i read it as it should be loading automaticaly. Thanks

[2018-01-30 07:25] gosianow opened #123 "threeparttable = TRUE does not work with full_width = TRUE or latex_options = "scale_down" when the caption is defined"
Hello,
I have quite long chunks of text in my footnotes and I would like to use the option `threeparttable = TRUE`. It works for smaller tables that fit the page with and option `full_width = FALSE`.

However, I get an error: `! LaTeX Error: \caption outside float` for option `latex_options = "scale_down"` when I define the caption, which I need.

[code]

Also when I want to fit a smaller table in

[2018-01-30 07:33] #120 closed

[2018-01-30 09:26] gosianow opened #124 "caption text size changes in longtable when font_size is used"
In the "standard" table, only the the size of the text in the table changes when using `font_size` option and the caption text size is as in the rest of the text file, which is what I expect.
In the "longtable" output, also the caption text size changes when `font_size` is defined, which is something I do not want. How could I prevent that?

[code]

[2018-01-30 09:40] gosianow opened #125 "footnote within the table in longtable"
In the "standard" table the footnote appears after the table ending line. However, in the "longtable", footnote appears within the table. Is there a quick way to fix that?

[code]

[2018-01-30 09:43] gosianow opened #126 "threeparttable does not work in longtable"
The `threeparttable = TRUE` option does not work in longtable. Could that be fixed, or maybe do you have some other way/trick to handle long footnotes?

[code]

[2018-01-30 18:28] rabutler opened #127 "group_rows() and add_indent() do not work together with HTML tables"
Consider the following example, in which I would expect the "Valiant' row to be indented more than the two "Hornet" rows above it.

[code]

Currently, in v0.7.0, this results in the following table:
![image](https://user-images.githubusercontent.com/7244282/35583742-20734258-05b0-11e8-9285-5b9fc8efb05b.png)

I believe this is because the html output includes the `"indentlevel"` attribute in all lo

[2018-01-30 20:07] haozhu233 commented on #127
Great! Thanks for submitting this issue and looking into my code. I'm a little surprised to see this behavior too. As you mentioned, all codes seem to be correct.

I did change the read html table from from `xml2::read_xml` to `xml2::read_html` in the last version. Maybe that's the reason why it happens. No matter what, it still surprises me in this case.

I guess you can go ahead and change thing

[2018-01-30 20:45] rabutler commented on #127
Yes, I believe the change from `xml2::read_xml` to `xml2::read_html` is the root of the issue. The following compares the output of the two different approaches, and you'll see the indent level changes from came-case to all lower case. (This uses v0.7.0)

[code]

I'll go ahead and submit the PR

[2018-01-30 20:58] #127 closed

[2018-02-02 05:33] 33Vito opened #129 "kable_styling output raw html rather in R markdown/notebook"
Hi,

I found this issue when running some old code which worked perfectly before. Somehow the html table spit out by kable_styling would output raw html rather than a table. Btw, the vanilla `kable` command worked as usual.

![image](https://user-images.githubusercontent.com/19360266/35718066-cba324d0-0836-11e8-88f4-007db235d84b.png)

[2018-02-02 05:36] haozhu233 commented on #129
Hi, @33Vito, I have already addressed this issue in the dev version.

See https://stackoverflow.com/questions/48409288/how-to-show-kable-kableextra-tables-in-r-markdown-notebook-not-just-in-the-knit/48415028#48415028

[2018-02-02 05:36] #129 closed

[2018-02-02 06:23] #121 closed

[2018-02-03 20:28] apratap commented on #118
same problem for me. Installing http://www.tug.org/mactex/ fixed it. However, the image produced is much wider than the actual table size. Ideally, it would best to limit it to table size. Also, there is a default header Table 1:  which I cant get rid of.

[2018-02-05 22:12] gorkang opened #130 "Weird error when rendering a "striped" kable"
OK, this has been quite difficult to disentangle for me, and I am still not sure what is going on. I managed to simplify the problem enough so maybe you can take a look. I attach a reproducible example: [BUG_kableExtra.zip](https://github.com/haozhu233/kableExtra/files/1696863/BUG_kableExtra.zip)

The gist is that rendering a kable with `kable_styling(latex_options = "striped")` in a.Rmd file afte

[2018-02-05 22:15] haozhu233 commented on #130
Hi, @gorkang, I wrote a detailed explanation on SO a while ago. I think it will solve your problem. https://stackoverflow.com/questions/46080853/why-does-rendering-a-pdf-from-rmarkdown-require-closing-rstudio-between-renders/46083308#46083308

[2018-02-06 14:21] JACE1990 opened #131 "kableExtra now opening tables in separate tab in browser?"
I'm wondering if you could advise on a weird bug that seems to have occurred in the last few days. I'm trying to knit a file, but each individual table is being opened in a new tab in my internet browser. Once the file is knitted the tables seem to be appearing correctly in the total html file, but I don't understand why suddenly it is _also_ opening each individual table in a separate browser (Sa

[2018-02-06 16:11] #130 closed

[2018-02-06 16:22] haozhu233 commented on #131
Hmm, it was supposed to be opened in your RStudio Viewer panel. Do you have some personalized setting in RStudio?
<img width="1148" alt="screen shot 2018-02-06 at 11 13 31 am" src="https://user-images.githubusercontent.com/7014590/35870119-cf02a48e-0b2e-11e8-8074-f997f9055393.png">

I'm also planning to add a global option to control this behavior or just improve the print function. I noticed that

[2018-02-07 08:02] JACE1990 commented on #131
Thanks Hao. So this is how it looks when I run code within the markdown, and I've been using the GitHub devtools version so that the table shows in the markdown document in-line too (instead of that html text). This is all fine. _However_, what I'm now seeing in the last few days is, only when knitting, it opens every table in a separate tab of my browser _while_ it's going through the knitting pr

[2018-02-08 22:18] haozhu233 opened #133 "Add persist header to HTML tables"

[2018-02-13 09:54] JBGruber opened #134 "Styling list of tables with kable_styling(full_width = T)"
After first filing an issue [here](https://github.com/yihui/knitr/issues/1507) @haozhu233 suggested this is a feature request rather than a bug report (Thanks!). I guess the scenarios in which creating a list of tables is useful are fairly limited. But for me, it was important as I write a manual in which I need to explain how a specific object looks. I solved this now manipulating the tex output

[2018-02-19 17:04] TrungLeVn opened #135 "Adding footnote symbol manually with footnote_marker_symbol only works with symbol 1"
Hi,
Thanks for your wonderful package, absolutely loving it.
I just have a minor question with regard to adding footnote symbols manually using the footnote_market_symbol. It seems only working with symbol choice = 1 and producing errors on other.

I borrow the example that you used in the instruction to use kableExtra on latex, page 18
`dt_footnote <- dt`

`names(dt_footnote)[2] <- paste0(names(d

[2018-02-21 08:45] ghislainv opened #137 "Grouped rows with LaTex when using align argument"
When using the 1L length align argument in knitr::kable such as align="ccc", the pattern is automatically repeated when the format is "latex". This prevent group_rows to work as expected and produces a \multicolumn with too many columns in the .tex file.

In place, the user should indicate align=("c","c","c"). In this case, the pattern is not repeated and \multicolumn uses the right number of colu

[2018-02-21 19:28] haozhu233 commented on #137
Hi, @ghislainv, great suggestion! I will add some notes to the documentation! Thanks!

[2018-02-22 17:00] Rathpete opened #138 "Problems with € symbol and kableExtra"
Hello,

after using kable_styling the €-Symbol get lost... See example:

library(knitr)
library(kableExtra)

test <- data.frame(A=c("€","€"))

kable(test,
      format = "latex",
      booktabs=TRUE,
      escape=FALSE) %>%

kable_styling()

only kable:

\begin{tabular}{l}
\toprule
A\\
\midrule
€\\
€\\
\bottomrule
\end{tabular}

with kable_styling

\begin{table}[H]
\centering
\begin{tabular}{l}
\t

[2018-02-23 08:16] Rathpete commented on #138
The problem ist with knitr 1.20. With knitr 1.16 the € symbol works fine...

[2018-02-23 11:45] haozhu233 commented on #138
@Rathpete Interesting. I will look into that.

[2018-02-23 20:12] tormodb opened #139 "Spacing after fifth row"
Thanks for producing this fantastic package!

I noticed that there is a slight vertical space between every fifth row (when formatted as latex). Is it possible to turn this spacing on or off?

[2018-02-23 20:13] haozhu233 commented on #139
Hi, @tormodb See this SO question: https://stackoverflow.com/questions/45409750/get-rid-of-addlinespace-in-kable

[2018-02-23 20:15] tormodb commented on #139
Great, thanks for the speedy reply!

Tormod

På 23. februar 2018 kl. 21:13:38, Hao Zhu (notifications@github.com<mailto:notifications@github.com>) skrev:

Hi, @tormodb<https://github.com/tormodb> See this SO question: https://stackoverflow.com/questions/45409750/get-rid-of-addlinespace-in-kable

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<ht

[2018-02-23 20:15] haozhu233 commented on #139
:)

[2018-02-23 20:15] #139 closed

[2018-02-24 14:42] lxzdong opened #140 "Group rows via labeling and group column via labeling at the same time?"
![1](https://user-images.githubusercontent.com/16121569/36631488-c99d46fe-1946-11e8-8532-dc67a38eb407.png)

Can I group rows via labeling and group columns via labeling at the same time, as shown in the attached table?

[2018-02-25 15:46] maxheld83 opened #141 "inherit automatic output detection from kable"
When used inside some `*.rmd`, `knitr::kable()` does not ordinarily require a `format =` argument, because it can infer the correct output format from the runtime environment (inside, say, `rmarkdown::render_site()` and friends).

This is quite convenient, because we can have the same `kable()`s, for *both* PDF and HTML output.

However, kableExtra throws a warning, whenever it does not find a for

[2018-02-26 18:01] haozhu233 commented on #140
Hmm, I would say it's difficult to implement. How about separating things into 2 tables?

[2018-02-27 08:19] ownalizer opened #142 "Missing an Apostrophe in Description field preventing a clean devtools::install_github("kableExtra")"
Thanks for the useful package. I've had some problems doing devtools::git_install("kableExtra")
The problems lie in the Description file I think...

person('Yoni', 'Sidi', role = 'ctb')， <---- line 14 is not the normal comma used by R and causes an error
person('Brian', 'Salzer', role = 'ctb )     <--- line 15 in descrition file is missing an apostrophe after ctb

Which causes this error when I tr

[2018-02-27 10:42] kostrzewa opened #143 "side-by-side tables do not seem to be supported"
As described at https://stackoverflow.com/questions/38036680/align-multiple-tables-side-by-side , kable can be used to format tables in a single float side-by-side by placing the data frames into a list.

Unfortunately, when this kind of kable is piped to kableExtra functions, LaTeX complains:

[code]

Here's an MWE:

## Rmd document header
[code]

## R code
[code]

[2018-02-27 18:04] haozhu233 commented on #142
Ah, thanks for pointing it out!

[2018-02-27 18:05] #142 closed

[2018-02-28 00:39] ownalizer opened #144 "devtools::install_github("haozhu233/kableExtra") Installation fails Due to Description File"
The comma on line 14 of the description file is not the right comma used by R for some reason. This is causing the command devtools::install_github("haozhu233/kableExtra") to fail.

[code]

A very sneaky comma error haha

[2018-02-28 01:01] #144 closed

[2018-02-28 01:02] haozhu233 commented on #144
Fixed now. Thanks again! I didn't realize it was that comma that caused this issue.

[2018-02-28 09:17] popomarmotte opened #145 "duplicated rows in the dataframe with row_spec inserts vphantom argument within the fix_duplicated_rows_latex internal function and mess up the latex format (rmarkdown, kable and kableExtra )"
(I reported this error here : [https://stackoverflow.com/questions/49016615/rendering-table-with-conditional-color-in-latex-as-a-pdf-document-with-rownames]

Mikey Harper nicely answered me and explained me the issue.

[2018-02-28 13:46] haozhu233 commented on #145
Yes, vphantom was there to make every row unique. Clearly, this is a bug. I’ll take a look at it. Thanks for reporting it!

[2018-03-01 00:47] lxzdong commented on #140
Hmm, I was thinking to separate the table into 2... I know there's the option to group rows via labeling, but I think it's also helpful to have an option to group columns via labeling. I guess it might be hard to implement...

Btw, I think to have an option to align the label to the center of the row would also be helpful.

Thanks for making such a great package!

[2018-03-02 13:22] prokulski opened #147 "color_bar() in Shiny"
When you use color_bar() and then send table (html) to Shiny's tableOutput() it won't work. I've example:

in ui.R:
[code]

in server.R:
[code]

Finaly I got table with

[code]
in n-column :/

[2018-03-02 13:23] Rathpete commented on #138
The problem occurs from knitr 1.19 to 1.20

[2018-03-05 19:32] Ajfrick opened #149 "Adding Footnote to group_rows labels"
Hi,

I started using the footnote function instead of add_footnote today, and I noticed it's not working for group_row labels. I'm using paste0 along with footnote_marker_*** as shown in documentation for row and column names, but it's displaying the literal latex code "\textsuperscript{a}" in the group_row heading. I have 'escape = F' included, and the rest of the footnotes seem to be working as

[2018-03-09 08:38] Alefrr commented on #138
Same problem here with very simple kable_styling() in knitr 1.20.
R runs with these SessionInfo():

[2018-03-09 20:42] steveputman commented on #145
In what may be a related issue with vphantom, its insertion seems to alter **horizontal** spacing in unexpected ways if there is an hphantom present as well. I have a modified formattable::accounting function that appends /hphantom{)} to positive numbers so that the numbers will align in LaTeX.

For me, the issue seems to be where vphantom is inserted to resolve the duplicate-row issue--it looks l

[2018-03-10 20:27] drmowinckels opened #150 "saving LaTeX table with kable_as_image failing"
Hi.

Love this package, and the kable_as_image is a brilliant solution for word_document. But I'm having some issues.

[code]

I've been trying to fix this on my end, imagemagick is updated via homebrew, and `magick`was just installed .

Perhaps related to [this](https://github.com/ropensci/magick/issues/74)?

Heres my sessionInfo

[code]

[2018-03-12 16:35] cortinah opened #151 "full_width = F is still giving full width tables"
Please see minimal .Rmd example below.  I believe this should create a narrower html table, but it is creating a full width table.   Thank you.

---
output: html_document
---

[code]

## R Markdown

[code]

[2018-03-12 16:40] #151 closed

[2018-03-12 20:18] tormodb commented on #149
I would also love this functionality. I noticed the extra_latex_after option, and this does work adding extra latex, but on a separate row below the row header.

[2018-03-14 10:04] ptapadar opened #152 "Subscripts and supercripts"
Hello,

Is it possible to have subscripts and superscripts in rownames and colnames of the tables (compiling LaTex from an Rnw file in Rstudio)?

For example, I was trying:

<<test, echo=FALSE>>=
x=matrix(1:4,nrow=2)
rownames(x)=c("$A_1$","$B_1$)
kable(x)
@

In the tex file generated, it is using \$A\_1\$ and \$B\_1\$, which I understand, but not what I want!

Thanks for your help.

[2018-03-14 10:10] ptapadar commented on #152
I figured that out - it works with escape=F (it will be nice if it is documented somewhere!):

<<test, echo=FALSE>>=
x=matrix(1:4,nrow=2)
rownames(x)=c("$A_1$","$B_1$)
kable(x, escape=F)
@

[2018-03-14 10:10] #152 closed

[2018-03-15 18:52] JeffreyRacine opened #153 "Unwanted [t] appearing in PDF above table..."
Greetings,

Love the package, recently a [t] has started appearing in the PDF output above a table... minimal example follows...

[code]

[code]
[code]

[2018-03-19 01:29] yoyoregime commented on #153
Hi.
I also love the package and use it extensively. I also started getting the [t] starting to pop-up as well. At first I thought it was because I recently upgraded the kableExtra package. I downgraded,  but that didn't make the problem go away. On a hunch, I downgraded the knitr package, which I recently upgraded... I reverted to knitr 1.19 and the extra [t] disappeared.

[2018-03-19 11:12] JeffreyRacine commented on #153
Greetings,

Thanks for this... did you file and issue for knitr then?

[2018-03-19 19:35] haozhu233 commented on #153
Hmm, I created this issue in https://github.com/yihui/knitr/pull/1519 as an effort to fix https://github.com/yihui/knitr/issues/1487. I will fix it here.

[2018-03-19 19:46] #153 closed

[2018-03-19 19:47] haozhu233 commented on #153
Fixed now. Sorry for the delay. :)

[2018-03-19 19:49] JeffreyRacine commented on #153
That indeed fixed the issue.

Thanks ever so much for your excellent work and contributions to the community!

[2018-03-21 17:18] statsandthings opened #154 "Adjacent Identical Values Cause Improper Grouping rows via multi-row cell"
The following data frame has values of "c" in these two locations: [2, 10] and [2, 11]. These two values of "c" are in adjacent groups, groups "a" and "b". If you generate the data frame this will be easier to see.

[code]

If you use `collapse_rows` on this data frame the "c" from group "a" bleeds into group "b" breaking the table. The first grouping of "c's" should stay in the "a" group and ther

[2018-03-23 22:32] sjkiss opened #155 "Missing backslash in help for kable_as_image()"
In the help for kable_as_image(), include_header_includes requires two backslashes, one as an escape. Currently reads:

`latex_header_includes A character vector of extra LaTeX header stuff. Each element is a row. You can have things likec("\usepackage{threeparttable}", "\usepackage{icons}")
`
Should read:

`latex_header_includes | A character vector of extra LaTeX header stuff. Each element is a

[2018-03-24 07:08] renkun-ken opened #156 "row_spec(0, align="l") not working for add_header_above rows"
![image](https://user-images.githubusercontent.com/4662568/37861434-9c2b1e8c-2f74-11e8-91c8-822b3e8caf67.png)

I use `row_spec(0, align = "l")` with the table above but the alignment does not change. I tried `row_spec(0, underscore = TRUE)` and it works only for the original header row. I'm wondering if there's an easy way to specify alignments to all the header rows no matter it's the original he

[2018-03-26 09:58] EconomiCurtis opened #157 "best practice for newline for LaTeX Table with knitr::kable and kableExtra"
Any advice on best practices for adding new lines with LaTeX tables?

The following typical "first guesses" lead to errors. And new lines are handled inconsistently between html and pdf.

[code]

`add_header_...` offers one option.

[2018-03-26 15:26] #115 closed

[2018-03-26 15:45] #116 closed

[2018-03-26 15:46] haozhu233 commented on #116
Now the bottom rule will appear in the right place, although you need to put `kable_styling` before `footnote`.

[code]

[2018-03-26 16:30] #119 closed

[2018-03-26 16:31] haozhu233 commented on #123
I replace threeparttable with threeparttablex. Now it should work.

[2018-03-26 16:31] #123 closed

[2018-03-26 16:43] haozhu233 commented on #124
It's very difficult to implement it in longtable, especially when you want to have repeat_header. See this if you want to hack around latex: https://tex.stackexchange.com/questions/392097/how-to-change-font-size-of-table-entries-without-changing-caption-fontsize/392137

[2018-03-26 16:43] #124 closed

[2018-03-26 20:33] haozhu233 commented on #126
Again, I improved footnote in longtable and this request has been addressed. :)

[2018-03-26 20:33] #126 closed

[2018-03-26 20:37] haozhu233 commented on #131
Hi, @JACE1990, I added some checks so that if the code is not running interactively (like when you are knitting) or in RStudio, the preview window won't be opened. I hope it will solve this issue.

[2018-03-26 21:32] #135 closed

[2018-03-27 02:07] koliii commented on #116
Still longtable not similar to small table latex pdf output.

Small table
![screenshot from 2018-03-27 07-34-52](https://user-images.githubusercontent.com/28312545/37942570-6847c4e8-3191-11e8-8598-66d999933be7.png)

Longtable

![screenshot from 2018-03-27 07-27-37](https://user-images.githubusercontent.com/28312545/37942576-744a2060-3191-11e8-90fe-ade3a463c0b3.png)

[2018-03-27 17:17] jceleste1991 opened #158 "row_spec not working"
Hello!
I updated R to 3.4.4 the other day and I also reinstalled the newest version of kableExtra and now I am receiving the following error when using "row_spec" function:

Error in stri replace_first regex(string, pattern, fix replacement(replacement), : Invalid capture group name. (U_REGEX_INVALID_CAPTURE_GROUP_NAME)

Here is my code:
a <- c(390, 388, 143, 240, 74, 10, 59, 391)
b <- format(c(.8

[2018-03-27 18:08] haozhu233 commented on #116
@koliii Have you flipped the order of `kable_styling` and `footnote` as I suggested? I should have already fixed this.

[2018-03-27 18:12] haozhu233 commented on #147
Hi @prokulski, sorry for this very late reply, I think you forgot to put `escape=F` in your `knitr::kable` step. Also, if you have `full_width = F`, I recommend you to define a column width for the `color_bar` column. If you don't have a defined column width, that column will be very thin.

[2018-03-27 18:12] #147 closed

[2018-03-28 03:58] koliii commented on #116
Sorry @haozhu233 , I'm not able to correct it. Kindly see an attached a screen shot of `R` codes.
![screenshot from 2018-03-28 09-26-12](https://user-images.githubusercontent.com/28312545/38008079-4e528738-326a-11e8-971c-3dfc7f593892.png)

[2018-04-02 21:01] lizzyhuang opened #160 "kable with %>% inside a for loop keeps generating html pages before the full table is compiled"
This is my sample code. When I clicked "Knit" in RStudio, the 3 tables inside the for loop kept popping up in html pages (so 3 pages generated), before I got my result (a html page with all 3 tables aligned). Is there a way to suppress those unnecessary html pages while compiling?

---
title: "Sample code"
output: html_document
---

[code]

## R Markdown

[code]

[code]

[2018-04-02 21:03] haozhu233 commented on #160
can you try to install the github version and let me know the result?

[2018-04-02 21:08] lizzyhuang commented on #160
I'm installing the github version now. Before I get to the result, I edited the title, because I just found out it's not about "group_rows", it's about the pipeline "%>%"

I did the following code, and the html pages still popped up before the final result compiled (under the CRAN version of the package)

---
title: "Another sample code"
output: html_document
---

[code]

## R Markdown

[code]

[c

[2018-04-02 21:10] lizzyhuang commented on #160
Sorry, my company machine doesn't allow me to get packages from GitHub. I'll try it tonight when I'm off work. I've changed the title so it's more accurate to the issue. Will let you know the results.

[2018-04-02 21:12] haozhu233 commented on #160
@lizzyhuang Great! I tried to fix this issue recently by adding some rstudioapi checks but wasn't sure if it got fixed since I can't reproduce this behavior by myself. Thanks for helping me out. :)

[2018-04-02 22:44] haozhu233 commented on #157
Hi, @EconomiCurtis, I added a new document explaining how to wrap texts/insert linebreaks in LaTeX. Note that the new `linebreak` function described there is only available on github right now.

http://haozhu233.github.io/kableExtra/best_practice_for_newline_in_latex_table.pdf

[2018-04-03 00:02] lizzyhuang commented on #160
@haozhu233 ,
I knitted the Rmd file using the GitHub version of kableExtra (version 0.7.0.9000). It worked for both examples and no html pages popped out. When will this version be released on CRAN? I want to see whether I can use it at work and my company only allows packages from CRAN. Thank you.

[2018-04-03 00:25] lizzyhuang commented on #160
@haozhu233 ,
Thank you. That's good enough.

[2018-04-03 00:50] #160 closed

[2018-04-03 02:05] #158 closed

[2018-04-03 02:06] haozhu233 commented on #158
Hi, @jceleste1991, this is a bug that was introduced recently. Thanks for reporting it! I fixed it in the latest dev version and the CRAN ver will be updated soon.

[2018-04-03 02:44] haozhu233 commented on #156
@renkun-ken I added an `align` option to `add_header_above` so now it's easier to set it there. Does it fulfill your need?
[code]

[2018-04-03 03:03] haozhu233 commented on #154
Hi, @statsandthings, `collapse_rows` was not designed to identify unique combinations of two columns. You can try the following alternative approach but I'm not sure if this is what you need.

[code]

[2018-04-03 03:06] haozhu233 commented on #143
Closing this as this issue has been filed here: https://github.com/haozhu233/kableExtra/issues/134

[2018-04-03 03:06] #143 closed

[2018-04-03 06:00] haozhu233 commented on #137
I added some notes to the grouped rows section in the PDF vignette. :)

[2018-04-03 06:00] #137 closed

[2018-04-03 12:16] jceleste1991 commented on #158
Thank you very much for your quick response and attention to this matter as it is greatly appreciated!
Keep up the great work!

[2018-04-03 12:49] JACE1990 commented on #131
Hi Has,

This has taken a while, but I have identified when this is happening: it seems to happen only when I'm calling the table from within a function. That is, I've created custom functions to create descriptives, ANOVA, and postdoc tables, that I then format and print with Kable and KableExtra. The weird knitting thing where it opens up every table in my browser in a separate tab seems to happ

[2018-04-03 16:07] haozhu233 commented on #131
Hi, @JACE1990 , so you are using the latest version from github (I just updated it a few days ago) and it's still happening?

[2018-04-03 18:05] yoyoregime commented on #153
Awesome, thanks!

[2018-04-03 18:46] haozhu233 commented on #138
@Rathpete @Alefrr This problem is related to some UTF related changes made to kable recently. See https://github.com/yihui/knitr/pull/1508. I will find out a solution

[2018-04-03 19:04] JACE1990 commented on #131
I'm sorry! I was using the latest version from CRAN, but I installed via Github and the problem is no more! Thank you so much for fixing this, and apologises for wasting your time. I should have checked I had the devtools version installed. Thanks again for all your work on this package - I love it!

[2018-04-03 19:07] haozhu233 commented on #131
Great! Thanks for letting me know! I'm glad that I did fix the problem. I wasn't sure until you told me cuz I couldn't reproduce the behavior. lol

This version will be on CRAN soon, after I fix a few bugs in my

[2018-04-03 19:08] #131 closed

[2018-04-03 20:09] haozhu233 commented on #138
Hi, @Rathpete @Alefrr I tried to fix this problem here locally. Can you help me tested it out on your machine?

The root problem is still in knitr (or maybe base R) on handling non unicode characters.

[2018-04-03 20:36] vrybkin commented on #92
Hi @haozhu233, does this comment also imply that popover messages won't work in Shiny?

[2018-04-04 04:00] Rathpete commented on #138
Yes I can!

[2018-04-04 04:03] Rathpete commented on #138
The "EURO SIGN" € ist an unicode character:
https://www.fileformat.info/info/unicode/char/20ac/index.htm

[2018-04-04 11:54] haozhu233 commented on #92
@vrybkin The base HTML hover message still works. The part that is not working is the bootstrap style hover message..

[2018-04-04 14:48] Rathpete commented on #138
It works!
I have installed kintr 1.20 and kableExtra 0.7.0.9000 and the €-symbol works correct!

Thank You!!!!

[2018-04-04 18:42] haozhu233 commented on #138
@Rathpete Great! I will make the change to CRAN soon. Thanks for your help!

[2018-04-04 18:42] #138 closed

[2018-04-04 18:56] haozhu233 commented on #145
@popomarmotte I fixed this issue by putting `vphantom` to the end of the line as @steveputman suggested. Thank you, both!

[2018-04-04 18:56] #145 closed

[2018-04-04 19:12] #154 closed

[2018-04-04 19:12] #157 closed

[2018-04-04 19:16] haozhu233 commented on #155
Haha, thanks for letting me know. Fixed now.

[2018-04-04 19:16] #155 closed

[2018-04-04 21:18] vrybkin commented on #92
@haozhu233 Thanks for your reply. So I'm a little confused. Does the popover message outlined in this [link](https://cran.r-project.org/web/packages/kableExtra/vignettes/awesome_table_in_html.html) work in Shiny? If so, I'm not sure where I put the following code:

`<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>`

Basically, I'm trying to use a kab

[2018-04-04 22:35] haozhu233 commented on #92
@vrybkin I will definitely improve this in near future but right now sadly it's not working. A few months ago, I tried to get it work without turning the kable output to a htmlwidget (as it will change a lot of things) but I didn't get it work. My thinking right now is to write a special shiny render function and get it work there. Ideally, you can forget about that javascript if that function is

[2018-04-05 06:21] steveputman opened #161 "Duplicated rows cause unexpected output with group_rows"
Hi, I was testing your earlier commit to see if it fixed my old problem referenced in #145 . Something strange is happening.

[code]
Knitting `outputtable` gets you this:
<img width="316" alt="screen shot 2018-04-05 at 1 10 31 am" src="https://user-images.githubusercontent.com/4965916/38349783-39869be6-386e-11e8-83d4-690812e49ef7.png">

(In my actual case, I get these behaviors--dropped/out-of-ord

[2018-04-05 17:15] haozhu233 commented on #161
Hi, @steveputman thanks for raising this before I release this version to CRAN. I look into the problem and found that I can't put `vphantom` at the end of the line as it will take away the ability to identify duplicated rows. I will change it back to putting it after the first &.

[2018-04-05 18:00] steveputman commented on #161
Got it—thanks for trying. I have been trying to think about other workarounds (in my case, I can typically structure the duplicated rows out of my table, though that obviously won’t work for many cases.) I did wonder if an additional column could be added with identifiers (like row numbers) that could then be suppressed in TeX.

From: Hao Zhu <notifications@github.com>
Reply-To: haozhu233/kableExt

[2018-04-05 18:58] haozhu233 commented on #161
Hmm, so in the end I changed it back to the location after first `&`. :P

[2018-04-05 18:58] #161 closed

[2018-04-05 21:46] haozhu233 commented on #149
Hmm, it's probably not a good solution... I added a double_escape option to those footnote_markers.. If you need to use them in `group_rows` or `add_header above`, please manually turn them on. Sorry for the increased typing time. I wish I could find a better solution.

[2018-04-05 23:50] kaylafrisoli commented on #131
FYI I also had this exact issue but it's fixed with the Github version! Thanks for posting / fixing!

[2018-04-06 10:03] TrungLeVn opened #162 "Footnote fontsize in threeparttable"
Dear haozhu233,
Many thanks for your amazing package. The recent version is really good.
I just wanna know is there any way to customize the font size of the footnote? I notice that if I choose the "threeparttable" option, the footnote always stays at "\small" fontsize in the Latex source code, no matter which fontsize I choose in the 'kable_styling' option.

Reproducable code:
`library(knitr)`
`l

[2018-04-06 13:25] vrybkin commented on #92
@haozhu233, Got it - thanks for the reply!

[2018-04-06 14:20] JohnMount opened #163 "Markdown like-text getting over-formated in table"
A string of escaped characters that looks like a Markdown link (i.e., things like "&#91;&#93;&#40;&#41;") get rendered as a Markdown link when using kableExtra, but not when knitr alone.

A ".Rmd" file that looks like the following.

[code]

Produces the output:

[code]

And not the expected output:

[code]

The knitr output alone does produce the expected output.

I know it is a corner case, but

[2018-04-06 16:41] renkun-ken commented on #156
This works perfectly for me. Thanks!

[2018-04-06 16:41] #156 closed

[2018-04-06 19:08] haozhu233 commented on #163
Hmmm... Interesting.

On my computer, when I execute the code in R, I can see []() in the preview but after I knit the document, it disappeared and the source code, as you said, turns into `<a href></a>`. I will look into that. Thanks for letting me know.

My instinct is that it's related to pandoc as it's trying to convert all these things to pure HTML.

[2018-04-06 19:50] haozhu233 commented on #163
I also found that the direct cause of this problem is that I'm using `xml2` to read in these HTML table, which automatically puts HTML encodings to UTF-8, which in the end got picked up by pandoc. :P
[code]
I did some research but there doesn't seem to be good solutions as `libxml` is using UTF-8 internally... Hmm, I mean if you don't mind the hacky way, you can do
[code]

[2018-04-06 19:53] haozhu233 commented on #162
Thanks for suggesting this. I will make an option for font size in footnote later. 👍

[2018-04-06 20:09] #163 closed

[2018-04-07 03:06] jgrembi commented on #149
Hi,
I've downloaded the updated version from GitHub as of today and I'm having a similar problem, but not within the group_rows or add_header_above.  I'm using it to annotate a specific cell within the table, as I believe the function was originally intended.
So, my code looks like
df[53,3] <- paste0(df[53,3], footnote_marker_alphabet(1))
and then it's rendering with "\textsuperscript{a}" in the d

[2018-04-10 21:56] ben519 opened #164 "column_spec() doesn't play nicely with scroll_box()"
I would like to use horizontal scrolling when my table is wide (via `scroll_box`). I would also like to be able to specify the width of a particular column (via `column_spec`).  Each of these methods works well on their own, but they don't seem to work together (or I may be using them incorrectly).

For example,

[code]

Note that I'm on R version 3.4.3 and kableExtra_0.8.0

Thanks!

[2018-04-10 22:02] haozhu233 commented on #164
Hi @ben519 , please check out my answer to this SO:
https://stackoverflow.com/questions/46689392/make-html-table-columns-wider-prevent-words-from-wrapping-in-rmarkdown/46691360#46691360

Basically, in your case, you need:
[code]

[2018-04-10 22:34] ben519 commented on #164
Ah, shoot - I think my example was too simple.  I actually need to specify the width of a few columns.  How would you handle that because this seems to break?

[code]

Thanks for all the help!

[2018-04-10 22:59] haozhu233 commented on #164
Thinking about adding a `min-width` to it.
kable(x = df, format = "html") %>%
  kable_styling(bootstrap_options = c("striped", "hover"), position = "center") %>%
  column_spec(column = 1:5, width = "30em; min-width: 30em;") %>%
  scroll_box(width = "100%")

[2018-04-11 03:32] ben519 commented on #164
Looks good so far.  Thanks @haozhu233

[2018-04-11 03:32] #164 closed

[2018-04-11 14:51] haozhu233 opened #165 "add min & max width support to column_spec"
Sort of related to #164, it would be nice to support `min-width` and `max-width` in column_spec. They are surprisingly useful sometimes.

[2018-04-11 17:11] haozhu233 opened #166 "Experimenting auto_set_format"
In current CRAN version of kableExtra, you still have to manually set formats for kable at least once. I didn't setup an auto-set-format mechanism because that will turn off kable's default markdown table if `kableExtra` is loaded. Now, since I'm creating more `pre-kable` functions like `cell_spec` or the recent `linebreak`, in the next version, I'm thinking about to be more aggressive for the sak

[2018-04-11 19:17] wibeasley commented on #166
Conceptually, I like how the package leverages an environmental option that may already be set (ie, `knitr.table.format`), but writes & directly uses its own environmental option (ie, `kableExtra.auto_format`).

That seems like a good way to piggy back off another package (in a way that reduces the amount of code the user has to write), while still being coupled loosely enough that (a) you're not

[2018-04-11 21:07] vrybkin commented on #35
Hi @haozhu233, sorry to bug you again. I'm using 0.8.0 and I'm not sure the border_left/border_right string features work for me. For example, column_spec(..., border_left = "lightgrey") does not work, even though setting the argument to TRUE does. I've used HEX codes as well and it does not seem to be working. However, column_spec(..., background = "lightgrey") does work.

The column_spec functio

[2018-04-12 12:04] triceraflops opened #167 "Text wrapping and linebreak don't work well together"
Relating back to this: https://github.com/haozhu233/kableExtra/issues/157

When I add linebreak, the text wrapping is ignored and the text continues off the page.

When I set escape to F, the linebreak is ignored, but the text wrapping works. When I set escape to T, the linebreak works, but the text wrapping does not.

Taking the example from the documentation.

`
  dt2 <- data.frame(
    Item = c

[2018-04-12 13:42] vrybkin commented on #35
As a note to others potentially reading this, a simple work around solution is:
`column_spec(..., extra_css = "border-right:2px solid lightgrey;")` for example.

[2018-04-12 16:16] haozhu233 commented on #167
Hmm, this is getting complicated. The correct LaTeX approach is to use `\newline` there instead of `makecell`. However, `\newline` will only work in "paragraph" mode (the column alignment thing you setup with column_spec).  Let me think about it and see if there is a better solution.

[2018-04-12 19:49] haozhu233 commented on #167
All right. With dev version now, it will automatically convert `makecell` to `newline` if necessary. row_spec has also been tested

https://github.com/haozhu233/kableExtra/commit/ae80df4d9890348b87088641caa49b40d2ba7fd3

[2018-04-13 08:07] triceraflops commented on #167
Thanks!

[2018-04-13 08:07] #167 closed

[2018-04-13 15:35] capitantyler opened #168 "decimal.mark and other number format features are not available in column_spec"
It would be possible format a number in a specified column?

For example, I need the forst and second colum does not present decimal mark, but the rest of numeric field yes.

[code]

I found other colleagues solves it casting numeric fields to cheracters before kable it, but I am dissatisfied with It.
[(https://stackoverflow.com/questions/40023139/display-currency-format-using-kable-with-rmarkdown

[2018-04-16 02:01] randomgambit opened #169 "export latex table (only) to pdf?"
Hi @haozhu233 , how are you?

Thanks for creating the `wide` format. It is really nice. I have a quick question. Is there a way to use `kableExtra` to only output a latex table to pdf ?

That would be a nice way to use `kableExtra` in Microsoft Word.

Here is the idea: people want to use the nice formatting features in `kableextra` in Word, which is not possible at the moment. However, one can imp

[2018-04-16 02:11] haozhu233 commented on #169
Hey @randomgambit :) You can actually do it through `kable_as_image` which will turn latex table to pdf and then to a png (by default) and then use `knitr::include_graphics` to include that in a Word document. However, it seems that some people (including myself after changing to yihui's tinytex instead of a regular texlive) right now are having some troubles with that function. After I used it at

[2018-04-16 02:29] randomgambit commented on #169
hey @haozhu233 that is really cool! I use the huge miktex distribution so that should not be a problem.

However, running the simple

[code]

gives
[code]

Am I doing something wrong here?

[2018-04-16 02:34] randomgambit commented on #169
ha ! it seems to work tho! the file is there! should I worry about this status 1? hey that is pretty cool bro you should mention it on your website!!

[2018-04-17 21:00] isteves opened #170 "Add table width example to documentation"
I was struggling with displaying [some very wide tables](https://nceas.github.io/datateam-training/reference/example-solr-queries.html) properly in my bookdown, particularly since I didn't want to specify an exact width (as shown in the [vignette example](https://datateam.nceas.ucsb.edu/rstudio/help/library/kableExtra/doc/awesome_table_in_html.html)). Eventually I came across the solution of using

[2018-04-17 21:17] haozhu233 commented on #170
@isteves If I understand it correctly, I think you can also do it by `scroll_box(width="100%")`, correct? Of course, if you do that and don't want the boarder line, you still need to set `box_css` to be `NULL`. :P Yeah, I think it's a good idea to document it out in the vignette, no matter it's the `100%` or `overflow-x: auto`, you can make a decision. Also, when you make changes, please edit the

[2018-04-17 22:03] isteves commented on #170
Oh didn't think of that, but that seems to be the same!  Sounds good.

[2018-04-19 12:11] #170 closed

[2018-04-19 19:43] RachelDuffin opened #173 "kableExtra with R 3.4.4"
I am trying to generate a table in R markdown, and am using R version 3.4.4, however whenever I try to use the kable_styling function after installing the kableExtra package, I get this error message:

Error in kable_styling(., bootstrap_options = c("striped", "hover")) : could not find function "kable_styling"

Additionally, when I try to load the library, it says:

Error in library(kableExtra) :

[2018-04-20 10:17] jmetzel opened #174 "align columns on decimal separator"
Hi,

I'm using kableExtra with knitr in R-Markdown. I prefer to format my tables in R and just print them nicely with kable (i usually use PDF as output device).  Unfortunately, table alignment appears to be limited to left, right, and center (using the "align=" argument of the kable-function). Is there a way to get them to align on the decimal separator (i.e., "."). If there is no easy way, yet,

[2018-04-20 17:01] haozhu233 commented on #174
Hi, @jmetzel, alignment on decimal separator requires siunitx package but the S column type is very different from others (based on my limited knowledge in LaTeX). It's not like I don't like this feature but I found it's kind of difficult to get it work together with existing column-wise features, such as column width, bold, etc. If you figure out a way to do it, please let me know and I would lov

[2018-04-21 03:31] daijiang opened #175 "row_spec does not work as expected"
An example:

[code]

And here is what I got:

[code]

The second column messed up. The same thing happened for background too.

Any ideas? Thanks!

[code]

[2018-04-21 15:06] haozhu233 commented on #175
Hi, @daijiang, thanks for reporting! This bug is due to an incorrect handling of `|`. Now it has been fixed in the dev ver. :)

[2018-04-21 18:28] daijiang commented on #175
Thanks @haozhu233 for quick fix! Awesome work!

[2018-04-21 18:28] #175 closed

[2018-04-22 18:55] zackbh opened #176 "Output LaTeX fragment directly?"
Huge fan of using kable + kableExtra. However, I often don't like to live exclusively in .Rnw documents, and it would be great if there were a way to directly write kable output to a .tex file for inclusion into a document?

I can do this directly with xtable and texreg. But I can't seem to find a way to get kable output to directly write to a .tex file that I can \input{} later into a document. D

[2018-04-22 22:45] haozhu233 commented on #176
I think you can always do following things, correct?
[code]
Are there anything you need for these fragments? I'm not very familiar with these workflow. I can definitely add some helper functions (PR are welcome as well) if they are useful.

[2018-04-23 03:36] leovan opened #177 "column_spec() do not take actions in <thead>"
I do column_spec(1:2, extra_css = 'display: none;') to hide some columns, but it only take actions in `<tbody>` but not in `<thead>`. I wish we can add a parameter to choose whether it take actions in both `<tbody>` and `<thead>`.

[2018-04-23 03:56] haozhu233 commented on #177
Sounds good. I will add this option

[2018-04-23 09:01] bartht opened #178 "plot multiple bulletpoints"
Hi,

I want to print a table containing lists with bullet points using kableExtra with knitr from R-Markdown. In the result I am trying to create a html.
The first table cell looks fine as is. But in all other cells the allignment of the bullets gets mixed up.
I have looked into the html code and it seems that he closes the unordered list after the first list element.

![grafik](https://user-image

[2018-04-23 15:09] Rathpete opened #179 "Problem with alignment of first page in long table with kable and kableExtra"
**I have problems with the alignment of columns of the first page in a longtable! In older versions of knitr and kableExtra it works fine. Now I use knitr 1.20 and kableExtra 0.80**

**Here ist the first wrong page:**
![1](https://user-images.githubusercontent.com/31278285/39134620-4f083b16-4717-11e8-8a9a-a858a743d024.PNG)

**The following pages are correct like this:**

![2](https://user-images.g

[2018-04-23 16:26] haozhu233 commented on #178
I think this is a bug in pandoc when they parse HTML tags in table. If you run the code in console, you will see the markdown list was not converted to HTML and raw HTML code generated by this package are the same for those two rows. I guess there is nothing I can do at least in this package.

[2018-04-23 16:26] #178 closed

[2018-04-23 16:27] haozhu233 commented on #179
Any chance you share the actual data with me instead of the screenshots?

[2018-04-23 17:12] Rathpete commented on #179
Yes!

But where I can upload the Data???

[2018-04-23 17:14] Rathpete commented on #179
I can upload the data to my dropbox tommorow for example???

[2018-04-24 01:52] leovan commented on #177
Awesome, thanks a lot @haozhu233.

[2018-04-24 01:56] leovan commented on #177
Works fine, really appreciate @haozhu233.

[2018-04-24 02:37] steveputman opened #180 "Header row not wrapping text when row_spec is aligned center"
Hi there. How sick are you of text-wrapping/linebreak issues? Related to #157 and #169, I cannot get centered column names on the header row without losing the column widths in the header (and therefore getting the text to wrap). Using your example:

[code]

gets this result
![image](https://user-images.githubusercontent.com/4965916/39163055-4ed9e802-473e-11e8-830a-94b0e2e94e0e.png)

Let me know i

[2018-04-24 03:54] haozhu233 commented on #180
I think I fixed it now. Hope this is the last one. ;)

[2018-04-24 04:51] #177 closed

[2018-04-24 04:57] steveputman commented on #180
Amazing! Thanks.

[2018-04-24 04:57] #180 closed

[2018-04-24 05:41] Rathpete commented on #179
Here are the data and the kable / kableExtra code to produce the table in latex....

[DataCode.zip](https://github.com/haozhu233/kableExtra/files/1941005/DataCode.zip)

[2018-04-24 14:32] Rathpete commented on #179
I have figured it out:

The problem with the alignment of the first page only occurs, if I use the **tinytex-Package**!!!!

[2018-04-25 01:31] jjchern commented on #87
@haozhu233 Thanks for adding the feature. I might be wrong, but it seems for threeparttable, we are still not able to have footnotes preceded by "Note: " (and in *italics*).

In particular, right now the threepartable function (https://github.com/haozhu233/kableExtra/blob/master/R/footnote.R#L304-L323) inserts `\item` and `\textbf` directly.

[code]

[2018-04-25 17:18] yonicd opened #182 "vectorize kableExtra::group_rows to accept a list of groupings"
it would make life easier to have a vectorized version of `kableExtra::group_rows` that would create groupings of rows.

eg

now it is

[code]

instead it would make it more programatic to have it be

[code]

[2018-04-25 17:59] haozhu233 commented on #182
Hi, @yonicd, there is one and that argument is called `index`. See http://haozhu233.github.io/kableExtra/awesome_table_in_html.html#group_rows_via_labeling

[2018-04-25 18:03] yonicd commented on #182
ah. thanks. sorry for not reading the manual :)

[2018-04-25 18:03] #182 closed

[2018-04-25 18:04] haozhu233 commented on #87
@jjchern Do you mind to create a new issue and let me know what exactly are you trying to make?

[2018-04-25 18:08] haozhu233 commented on #182
@yonicd No worries. ;) I kept updating the same doc. It's likely this feature wasn't there when you read it last time :P

[2018-04-25 18:09] haozhu233 commented on #165
added

[2018-04-25 18:09] #165 closed

[2018-04-25 18:10] #169 closed

[2018-04-25 18:11] #174 closed

[2018-04-25 18:11] #176 closed

[2018-04-25 19:10] harrismcgehee opened #183 "Longtable Repeat Headers Not Rotated"
# issue
when using
[code]
The first page has rotated headers; subsequent header rows are not rotated.
## page 1
![image](https://user-images.githubusercontent.com/9814456/39267389-a57f86c8-489a-11e8-94b5-c354eb2d2cad.png)
## page 2+
![image](https://user-images.githubusercontent.com/9814456/39267395-a9967a82-489a-11e8-9746-8b4b346c8f19.png)

# reprex
[code]

[2018-04-26 01:03] igorstorm commented on #30
I want to know that too! Is this fixed?

[2018-04-26 01:16] haozhu233 commented on #30
@igorstorm Yeah, most of the kableExtra functions has an escape option now.

[2018-04-26 01:32] igorstorm commented on #30
How about greek letters? I tried:
`add_header_above(c("n", "$\\alpha$" = 4, "$\\beta$" = 4), align = "l", escape = F)`
But it doesn't show the greek letters. Do I have to do it differently?

[2018-04-26 02:11] igorstorm opened #184 "Control line under selected group of column headers"
Is it possible to control whether there is a line under selected grouped column headers?
something like:
`add_header_above(c("n", "a", "Estimates 1" = 4, "Estimates 2" = 4), align = "l", escape = F, line = c(F, F, T, T))`

[2018-04-26 02:26] #184 closed

[2018-04-26 15:38] statsandthings commented on #154
Hello @haozhu233 - that is a good work around. Thanks for the tip.

[2018-04-26 17:35] wuffi opened #185 "Changing alignment of row when width of column is fixed"
Thanks a lot for writing this useful package and making it available to other people.
Sometimes it would be nice to have the header of a column with fixed width centered.
However, this doesn't seem to be possible:

    ---
    output: pdf_document
    ---

[code]

It would be great, if this would work.

[2018-04-26 18:57] yonicd opened #186 "disable underscore escape in html format"
how do i disable the underscore escape in the html output?

![screen shot 2018-04-26 at 14 56 39](https://user-images.githubusercontent.com/1755487/39326168-25fa072a-4962-11e8-9735-a4fb82a80d25.png)

[2018-04-26 20:36] yonicd commented on #186
yeah... i think that when you force it to html style it causes problems in the github_doc compiler

[2018-04-26 20:44] haozhu233 commented on #186
Hmm, wait, I tried it out again on my laptop with R3.5 and all new r packages and the bug is gone. Err....

When I reproduced the bug, it was on a linux server with R 3.4.2 with latest version of packages. How about you?

[2018-04-26 20:49] haozhu233 commented on #185
Hi, @wuffi, this feature has been added in the dev version. (See https://github.com/haozhu233/kableExtra/issues/180). Also, you need to specify `column_spec` first before you run `row_spec` to set the alignment.

[2018-04-27 07:11] wuffi commented on #185
Dear Hao,
Thank you so much for your quick reply and implementing this feature.

[2018-04-27 07:11] #185 closed

[2018-04-27 19:26] kstierhoff opened #187 "Remove italics from header row after row_spec(x, italic = T)"
Hi,
Is it possible to italicize the contents of a column but keep regular fonts in the header rows? The example below illustrates what I'm describing. The problem typically occurs for me when italicizing a column of species names with the header "Species" which I wouldn't want italicized.

Calling `row_spec(1, italic = F)` after `col_spec(1 italic = T)` seemed intuitive but didn't work. Maybe I'm

[2018-04-27 20:32] haozhu233 commented on #187
Hmm, now I rethink about it. It might be possible by wrapping things up in `multicolumn`. I will give it a try over the weekend. Thanks for the suggestion, Kevin!

[2018-04-28 11:12] wuffi opened #188 "Warning message triggered by `row_spec(1, hline_after=T)`"
Dear Hao,
Sorry for disturbing you. The last line in the following function call gives me an error message with the latest development version, which is actually hard to interpret:

    ---
    output: pdf_document
    ---

[code]

Don't worry too much about, it is not a very urgent thing. My feeling is, that the message can actually be ignored.

[2018-04-28 14:28] wuffi commented on #30
Sorry for writing to an old issue,
For me, the following code doesn't work:

    ---
    output: pdf_document
    ---

[code]

[2018-04-28 14:32] wuffi opened #189 "Adding cmidrule to table"
The feature for collapsing cells adds the `cmidrule` from the *booktabs* package.
It would be great, if it would be generally possible to add a `cmidrule` between two rows.

[2018-04-30 06:44] myaseen208 opened #190 "NEWS"
Great Work. It is hard to track the changes. It would be nice if you include NEWS.

[2018-04-30 09:10] wuffi commented on #30
Stupid me. It does of course work, one just needs to set the `escape = F` option for the `add_header_above()` function as in:

    ---
    output: pdf_document
    ---

[code]

I hope this will also be helpful to others.

[2018-04-30 11:35] haozhu233 commented on #190
Here it is. https://github.com/haozhu233/kableExtra/blob/master/inst/NEWS.md

[2018-04-30 11:37] haozhu233 commented on #189
Hi, @wuffi is this what you are looking for?
https://github.com/haozhu233/kableExtra/blob/master/R/row_spec.R#L32-L33

[2018-04-30 12:04] myaseen208 commented on #190
Thanks

[2018-04-30 12:11] wuffi commented on #189
Hi Hao,
A `cmidrule` would be different from `hline_after`, because `cmidrule` also adds space between two rows, whereas `hline_after` squeezes in a horizontal line.
In short, `cmidrule` looks in many cases probably a bit more elegant.

[2018-05-01 00:13] kstierhoff commented on #187
Thanks for thinking about this! The solution you propose will work just fine for me (and is not THAT hard), but a more elegant solution would be cool, especially for more complex tables. I'm just glad there's a way to override the italics header, which I couldn't figure out on my own (since I don't know Latex very well).

[2018-05-01 15:05] larmarange opened #191 "vertical alignment option for collapse_rows"
When collapsing rows, the vertical alignment is defined on middle. It would be nice to be able to custom this alignment to top or bottom.

Regards

[2018-05-02 05:45] leovan opened #192 "References don't work in tufte_book output."

[2018-05-02 05:49] #192 closed

[2018-05-03 12:45] #179 closed

[2018-05-04 01:47] GalenStocking commented on #167
I'm having a similar problem. I have a \n inside a table, e.g.:
x_v_y \n x_v_z \n x

When I run the following in R Markdown:
df %>% mutate_all(linebreak) %>% kable(format="latex") %>%
   kable_styling(full_width = F)

I get the following in that cell:
\makecell[1] {x_v_y \\ x_v_z \\ x}

I'm on version 0.8.0.0001.

Happy to send some sample data if needed. Thanks!

[2018-05-04 11:46] larmarange opened #193 "auto index for group_rows"
When working with categorical variables and presenting bivariate or multivariate statistics, I usually have several rows per variable. In my tables, I have therefore o column indicating the variable and a second for the considered term or modality.

An option is to use `collapse_rows`. However, I usually find that `group_rows` provide a more readable result. However, it requires to manually comput

[2018-05-06 14:00] HenrikEckermann opened #194 "left-align table caption"
Thanks for this awesome package haozhu233!

I wanted to ask or otherwise note:

Is there a way to left-align the table caption? If I specify a caption, it is always centered above the table. I would prefer this in exactly this way! However, for a paper in APA6th they expect me to leftalign the table caption. Is there a way to do this with kableExtra?

[2018-05-07 05:40] spotlight19 opened #195 "Automatic indent in grouped rows not working when using escape"
Hi haozhu233!

When rows are grouped using `group_rows()` the rows are automatically indented with `\hspace{1em}`.
However, in one the row names I am using superscript (to add a footnote). For this I am using `escape = F`.
For this row, \hspace{1em} is not added and the row is consequently not indented like other rows. Below is a sample code:

`library(kableExtra)`
`at2=cbind(1:5,6:10,11:15)`
`row

[2018-05-07 16:25] haozhu233 commented on #195
For your 2nd question, You just have to double escape it. I will look into the indent problem

[code]

[2018-05-09 00:55] leovan opened #196 "Removing table header gets error with PDF output."
If I set the data.frame names to `NULL` or `col.names` in `knitr::kable` to `NULL`, it can remove the table header, and works pretty well in HTML. But it got errors with PDF output.

Briefly I found out **2 problems**:

1. Error in header_rows_start:header_rows_end : NA/NaN argument
Calls: <Anonymous> ... kable_styling -> pdfTable_styling -> styling_latex_striped
2. Error in add_indent_latex(out,

[2018-05-09 02:53] haozhu233 commented on #196
@leovan Yeah, I recognized this problem a while ago. As you said, it's sort of difficult to fix it in LaTeX. The main problem is that there are still a lot of people in favor of table without booktabs (or somehow they just don't use it). In those cases, there is no way for me to know (at the downstream of kable) whether there is a header row (since all rows end with hlines and they all look the sa

[2018-05-09 03:25] leovan commented on #196
Thanks for your reply, I usually use no-header table to do non-table things 😁, like listing. I just want to keep items in a table which can be referred and in a tight layout. I will go through this project later and try fix this.

[2018-05-11 12:28] dcbm opened #198 "some Font Color added header hack"
I have added locally a possibility to change the font color in `add_header_above`, which was a big cascade down to `htmlTable_new_header_generator` and `pdfTable_new_header_generator`.

-  `htmlTable_new_header_generator`: in ` if (trimws(x[1]) == "") {...} else {paste0` in the `html`-string `style=\"color: ",color, "; "` where `color` is a parameter of the function

- `pdfTable_new_header_generat

[2018-05-11 17:28] haozhu233 commented on #198
emm, so what is the problem here?

[2018-05-14 16:54] #198 closed

[2018-05-14 16:54] #190 closed

[2018-05-16 13:50] dmartin5484 opened #199 "Striping with collapsed rows"
I have a table with rows collapsed from columns 1 and 2 (collapse_rows(1:2)) with each value in column 1 split into 3 values (rows) for column 2 and beyond.

Is there a way to add alternate striping on each group of 3 rows?

[2018-05-17 13:43] jpritikin opened #200 "general footnote prefix in wrong style"
APA style dictates that "Note." should be italic, not bold.

[2018-05-17 13:45] jpritikin opened #201 "footnote escape=FALSE removes backslashes"
My math is destroyed, even with escape=FALSE. For example, I have
[code]

And this is turned into:

[code]

[2018-05-17 13:53] haozhu233 commented on #201
You should use \\\\ to escape

[2018-05-17 14:03] jpritikin commented on #201
Hm OK

[2018-05-17 14:03] #201 closed

[2018-05-17 22:33] p-phillips commented on #191
Yes - agreed - there is clearly an appetite for this.     See the recent blog post at https://statbandit.wordpress.com/2018/05/16/cleaning-up-tables/

[2018-05-18 18:45] lahvak commented on #17
I seem to be having the same issue, with R version 3.4.1, and current CRAN kableExtra (0.8.0)

Running the same code as the OP, this is the session info:

[code]

I run the code from a rmarkdown document, knitting to html from Nvim-R.

[2018-05-18 18:58] lahvak commented on #17
Upgrading `xml2` fixed it!

[2018-05-18 19:05] haozhu233 commented on #17
@lahvak Thanks for letting me know! I'll put a version requirement for `xml2`

[2018-05-20 22:02] #183 closed

[2018-05-20 22:02] #188 closed

[2018-05-20 22:07] haozhu233 commented on #188
Fixed now. Thanks!

[2018-05-20 22:07] haozhu233 commented on #183
Fixed now. Thanks!

[2018-05-20 22:16] haozhu233 commented on #162
I removed the \small tag in threeparttable as it's unnecessary. Thanks!

[2018-05-20 22:16] #162 closed

[2018-05-20 22:42] haozhu233 commented on #191
@larmarange @p-phillips I added an `valign` option to `collapse_row` and changed the default behavior of vertical alignment from middle to top.

I noticed that the multirow valign option was added in 2016. It may impact users who are using an older latex distribution.

[2018-05-20 22:42] #191 closed

[2018-05-20 22:53] haozhu233 commented on #193
Hi, @larmarange, I added an `auto_index()` function using the mechanism I was using in `collapse_rows`.

Check it out: https://github.com/haozhu233/kableExtra/blob/master/R/group_rows.R#L198-L212

[2018-05-20 23:03] haozhu233 commented on #195
Fixed now. Thanks!

[2018-05-20 23:03] #195 closed

[2018-05-21 01:15] dmartin5484 commented on #199
Thank you!

[2018-05-21 04:43] haozhu233 commented on #200
Fixed now. Thanks!

[2018-05-21 04:43] #200 closed

[2018-05-21 04:44] #186 closed

[2018-05-21 04:44] #166 closed

[2018-05-21 04:47] haozhu233 commented on #141
See https://github.com/haozhu233/kableExtra/issues/166 for details. With the latest version (on its way to CRAN), when the package is being loaded, the global option for table format is automatically defined. Thanks!

[2018-05-21 04:47] #141 closed

[2018-05-21 05:04] haozhu233 commented on #191
Err.... CRAN's win-builder is using the legacy multirow package.... As a result, I set the default vertical alignment back to "middle" as it will definitely working.

[2018-05-21 20:42] amilesj opened #202 "Adding footnote to header with column span > 1"
I am having trouble adding a footnote to a header with a column span > 1. It works with a column span of 1, with the following:
[code]
But I want the header with the footnote (header3 in my example) to span 2 columns, so I added a `= 2` after the call to `paste0`, as shown below:

[code]

it fails and says `Error in parse(text = x, srcfile = src) : <text>:24:115: unexpected '='`

I am not sure if

[2018-05-21 20:51] haozhu233 commented on #202
Hi, @amilesj, the thing in `add_header_above` is a named vector and you just can't use paste for the names of the vector (check it out: `c(paste0("a", "b") = "a")`). You can either define the header outside of the pipes or use `setNames`

[code]

[2018-05-21 20:51] p-phillips commented on #191
I'm on Ubuntu 16.04, and have the same problem - using "top" caused an error

I resolved it by following the installation instructions at:  [https://ctan.org/tex-archive/macros/latex/contrib/multirow](https://ctan.org/tex-archive/macros/latex/contrib/multirow)

I.e.,

1. download the multirow.dtx file and the .ins file into a temporary directory,
2. run latex on the multirow.ins file and then
3. m

[2018-05-21 21:11] amilesj commented on #202
Ah, got it. I ended up defining the header outside of the pipes and it worked well. Thank you for the quick reply!

[2018-05-21 21:11] #202 closed

[2018-05-21 21:29] haozhu233 commented on #191
@p-phillips Thanks for providing the solution here!

[2018-05-21 23:13] larmarange commented on #191
Thanks

Le lun. 21 mai 2018 à 23:29, Hao Zhu <notifications@github.com> a écrit :

--
--
*Joseph LARMARANGE*
Demographer PhD at IRD <http://www.ird.fr/> • Ceped
<http://www.ceped.org/> (UMR
196 Paris Descartes - IRD)

Tel. (Ceped): +33 1 76 53 34 75
Cell. phone (France) : +33 6 62 06 51 82
Cell. Phone (Côte d'Ivoire): +225 89 40 59 33
Skype: joseph.larmarange
Ceped, 45 rue des Saints-Pères, 75006

[2018-05-22 12:23] thatoipadmaja opened #203 "How do I color the text and background on add_header_above()"

[2018-05-22 15:31] larmarange commented on #193
Thanks a lot

[2018-05-22 16:34] #193 closed

[2018-05-23 14:40] jpritikin opened #204 "default footnote general_title is not APA style"
It is currently "Note:" with a colon, but APA style dictates "Note." with a period.

[2018-05-23 14:51] haozhu233 commented on #204
"Note. " looks strange in tables with few footnotes, especially in HTML. After all, this package is not built for APA style.

[2018-05-23 14:52] haozhu233 commented on #203
I will add those options to `add_header_above()`

[2018-05-23 15:05] jpritikin commented on #204
You obviously do not regard APA style with profuse veneration. Shame on you. :-P

[2018-05-23 16:43] haozhu233 commented on #204
:-P

[2018-05-23 16:43] #204 closed

[2018-05-23 17:44] thatoipadmaja commented on #203
Thanks a lot.. Kindly share the details of the options once you are done adding those options. It would be also great if each cell of the header could be colored differently also to represent the group.

[2018-05-26 16:57] jpritikin opened #205 "a column has 1 less digit than expected"
I'm using kableExtra from devtools::install_github. Here's my code:

[code]

Here's my data:
[code]

The funny thing is that the second to last column (`$\max(\hat\theta_j)-\min(\hat\theta_j)$` for the Factor model) has 1 less digit than I expect. If I set `options(digits=3)` then I get 2 digits. If I set `options(digits=2)` then I get 1 digit. The rest of the columns are as expected. I also have

[2018-05-29 21:19] kosovichj opened #206 "add_header_above can't recognize objects containing column spans"
Hello,
I'm trying to develop an automated report that is able to adapt to different numbers of columns and higher-order merged columns (e.g., there can there may be three groups of columns, or there may be five groups of columns depending on the individual). I've played around with the results and I am able to automate everything up through creating the text that should direct the add_header_above

[2018-05-29 21:59] haozhu233 commented on #205
@jpritikin

[code]
gives me
<img width="323" alt="screen shot 2018-05-29 at 5 57 55 pm" src="https://user-images.githubusercontent.com/7014590/40687808-da01cb92-6369-11e8-9a2a-1d4b40e5166d.png">

You should fire this issue following https://www.r-project.org/bugs.html

[2018-05-30 05:36] jpritikin commented on #205
Wow, you're correct. It looks like a bug in R.

[2018-05-30 06:03] #205 closed

[2018-05-30 12:34] petzi53 opened #207 "Problems with `&` in cell text with linebreak"
Hao, thank you for `kableExtra`. I started to use it just 3 weeks ago and I can't live without it anymore ;-)

I encountered a problem using linebreak, whenever an ampersand is a part of the text in a table cell.
For instance, using your example in [Insert linebreak in table](http://haozhu233.github.io/kableExtra/best_practice_for_newline_in_latex_table.pdf) results in the following error:

[code]

[2018-05-30 14:01] haozhu233 commented on #207
@petzi53 Thank you very much for your kind words and for reporting this bug! I will add an `escape` option to linebreak and turn it on as default. 👍

[2018-05-30 18:19] antaldaniel opened #208 "Character encoding with kable_as_image()"
I am not sure if this is a bug or a documentation issue or nothing, but I just cannot make kable_as_image produce a non-English table. I am trying to come up with a chunk for Rmarkdown and bookdown which produces a different table for knitr::is_html_output(), knitr::is_latex_output() and as a last resort, an image version for Word.

While I can produce a correct characters with html and latex, I l

[2018-05-31 00:31] jvcasillas opened #210 "Cannot escape LaTeX macros in footnote"
When using LaTeX macros in a `kable` table, the argument `escape=FALSE` removes automatic escape characters and existing macros in the table compile correctly given that the `\` is escaped: `\\`. When setting `escape=FALSE` inside of `footnote()` I get errors when trying to escape. For example:

[code]

Produces the following...

[code]

which throws an error when compiling.

[2018-05-31 02:04] haozhu233 commented on #210
I guess I should document it somewhere.... due to the mechanism of this package, you should use \\\\\\\\ to escape.

[2018-05-31 02:20] jvcasillas commented on #210
Perfect. Thank you.

[2018-05-31 02:20] #210 closed

[2018-05-31 14:58] #206 closed

[2018-05-31 15:44] senthilthyagarajan opened #211 "How to add wrappers for long table headers."

[2018-06-01 16:39] joepowers16 opened #212 "long html output in Rstudio from kableExtra::kable_styling()"
In RStudio, kableExtra::kable_styling() produces excessively long html output that clutters the RMarkdown notebook. Is there anyway to suppress the html output within the RMarkdown notebook?

Here is a reprex that produces long html output:
library(dplyr)
library(knitr)
library(kableExtra)

mtcars %>%
  group_by(cyl, am, vs) %>%
  summarise(mpg = mean(mpg)) %>%
  knitr::kable(format = "html") %>%